@if (plotEnrichmentClassResouce.isLoading()){
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
} @else {
    @if (!plotEnrichmentClassResouce.value()) {
      <p>No data available</p>
    }
  }
@if (plotEnrichmentClassResouce.value() && !plotEnrichmentClassResouce.isLoading()) {
  <div style="display: flex; justify-content: flex-end; padding-right: 16px; margin-bottom: -40px; position: relative; z-index: 10;">
    <button mat-icon-button [matMenuTriggerFor]="enrichDownloadMenu" matTooltip="Download Plot">
      <mat-icon>download</mat-icon>
    </button>
    <mat-menu #enrichDownloadMenu="matMenu">
      <button mat-menu-item (click)="downloadPlot('png')">Download PNG</button>
      <button mat-menu-item (click)="downloadPlot('jpeg')">Download JPEG</button>
      <button mat-menu-item (click)="downloadPlot('svg')">Download SVG</button>
    </mat-menu>
  </div>
}
<div class="enrichment-class-plot-div">
    <div #enrichmentClassPlot class="enrichment-class-plot" style="width: 100%; height: auto"></div>
</div>
<app-info type="panel">
    <p>
        The spongEffects enrichment score distributions can give an insight into the model capability to
        differentiate between the given classes.
    </p>
</app-info>
