@if (plotEnrichmentClassResouce.isLoading()){
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    } 
    <!-- else {
    @if (!plotEnrichmentClassResouce.value()){
        <p>No data available</p>
    } -->
<!-- } -->
<div class="enrichment-class-plot-div">
    <div #enrichmentClassPlot class="enrichment-class-plot" style="width: 100%; height: auto"></div>
</div>
<app-info type="panel">
    <p>
        The spongEffects enrichment score distributions can give an insight into the model capability to
        differentiate between the given classes.
    </p>
</app-info>
