<div class="route-container">
  <h1>SPONGE</h1>
  <h4>A resource for competing endogenous RNA interaction networks</h4>
  <p>Free to use for everyone, including commercial users.</p>
  <carousel [isAnimated]="true" class="carousel-dark">
    <slide>
      <div class="carousel-image-container">
        <img alt="image slide" class="carousel-image" src="./1.svg">
      </div>
    </slide>
    <slide>
      <div class="carousel-image-container">
        <img alt="image slide" class="carousel-image" src="./2.png">
      </div>
    </slide>
    <slide>
      <div class="carousel-image-container">
        <img alt="image slide" class="carousel-image" src="./3.svg">
      </div>
    </slide>
  </carousel>
  <h2>SPONGE results for each pair of genes</h2>
  @if (plotData$() === undefined) {
    <div class="spinner-container">
      <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
    </div>
  }
  <div #plot style="height: 700px"></div>
</div>
