<div class="route-container">
  <h1>SPONGE</h1>
  <h4>A resource for competing endogenous RNA interaction networks</h4>
  
  <carousel [isAnimated]="true" class="carousel-dark">
    @for (image of images; track image) {
      <slide>
        <img [src]="imageRoot + image" alt="image slide"
             style="display: block; height: 500px; max-width: 100%; object-fit: contain">
      </slide>
    }
  </carousel>
  <h2>SPONGE results for each pair of genes</h2>
  <mat-tab-group (selectedTabChange)="resize()" [preserveContent]="true">
    <mat-tab label="Cancer">
      <div #cancerPlot style="height: 800px"></div>
    </mat-tab>
    <mat-tab label="Non-cancer">
      <div #nonCancerPlot style="height: 800px"></div>
    </mat-tab>
  </mat-tab-group>
</div>
