/* Sticky Footer Classes */

html,body {
  //height: 100%;
  padding-top: 20px;
  color: aliceblue;
  overflow: auto;
  position: absolute;
  
}

#page-content {
  flex: 1 0 auto;
  min-height: 100%;
  }

#sticky-footer {
  flex-shrink: none;
  background-color:  #152433;


}

#link-color{
    color: #8f9296;
}

#footer-color{
  color: aliceblue;
}
/* Other Classes for Page Styling */

body {
  //background: rgb(5, 40, 70);
  background: linear-gradient(to right, rgb(5, 40, 70), rgb(8, 83, 133));
  //position: absolute;  //new
  right: 0;
  bottom: 0;
  left: 0;
  min-height: 80px;
  padding-top: 20px;
  overflow: inherit;
}