/* Sticky Footer Classes */

html,
body {
  height: 100%;
  padding-top: 20px;
}

#page-content {
  flex: 1 0 auto;
}

#sticky-footer {
  flex-shrink: none;
  background-color:  #152433;

}

#link-color{
    color: aliceblue;
}

/* Other Classes for Page Styling */

body {
  background: rgb(5, 40, 70);
  background: linear-gradient(to right, rgb(5, 40, 70), rgb(8, 83, 133));
}