<mat-card appearance="outlined" class="expression-upload-card">
  <mat-card-header>
    <div class="circle" mat-card-avatar>1</div>
    <mat-card-title>Expression file upload</mat-card-title>
    <mat-card-subtitle>
      Upload gene/transcript expression for cancer type classification
    </mat-card-subtitle>
    <div class="example-expression-button-div" style="float: right; margin-left: auto; margin-right: 20px;">
      <button (click)="flipExampleExpression()"
              class="example-expression-button"
              mat-stroked-button>
        {{ buttonText("expr") }}
      </button>
    </div>
  </mat-card-header>
  <p></p>
  <mat-card-content>
    <ng-container *ngIf="showExpressionExample">
      <div class="example-expression-table-div">
        <table [dataSource]="exampleExpressionData" class="mat-elevation-z8 example-expression-table" mat-table>
          <ng-container *ngFor="let column of displayedCols" [matColumnDef]="column">
            <th *matHeaderCellDef mat-header-cell>{{ displayedColsValueMap.get(column) }}</th>
            <td *matCellDef="let emp" mat-cell>{{ emp[column] }}</td>
          </ng-container>
          <tr *matHeaderRowDef="displayedCols" mat-header-row></tr>
          <tr *matRowDef="let row; columns: displayedCols" mat-row></tr>
        </table>
      </div>
    </ng-container>
    <ngx-dropzone (change)="onExpressionUpload($event)"
                  [disableClick]="expressionUploaded()"
                  [maxFileSize]="maxFileSize"
                  [multiple]="false"
                  accept="{{acceptExpressionFiles()}}">
      <ngx-dropzone-label>
        <button mat-stroked-button>
          Select a file
        </button>
        <!-- <img src="../../../assets/img/heat-map-svgrepo-com.png" width="15%" height="15%"> -->
        Or drop your expression file here!
        <button (click)="useExampleExpression($event)" class="example-expression-button"
                mat-stroked-button>
          Or use example expression
        </button>
      </ngx-dropzone-label>
      <ngx-dropzone-preview (removed)="onRemoveExpression(f)" *ngFor="let f of uploadedExpressionFiles"
                            [removable]="true" style="text-align: center">
        <ngx-dropzone-label>{{ f.name }}</ngx-dropzone-label>
      </ngx-dropzone-preview>
    </ngx-dropzone>
  </mat-card-content>
</mat-card>

<p></p>


<mat-card appearance="outlined">
  <mat-card-header class="disable-ripple">
    <div class="circle" mat-card-avatar>2</div>
    <mat-card-title>
      Options
    </mat-card-title>
    <mat-card-subtitle>
      spongEffects prediction parameters
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>

    <p></p>
    <!-- <hr class="my-4"> -->
    <h6>Filtering thresholds:</h6>
    <p></p>
    <div [formGroup]="formGroup" class="float-label-always">

      <mat-form-field appearance="outline" class="full-width" floatLabel="always">
        <mat-label>multiple miRNA sensitivity correlation (mscor)</mat-label>
        <input [placeholder]="mscorDefault.toString()" class="col-xs-3" formControlName="mscor" id="mscorSelect" matInput
               type="number">
        <mat-error>Please provide a number between 0 and 10</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>False discovery rate (FDR)</mat-label>
        <input [placeholder]="fdrDefault.toString()" class="col-xs-4 col-xs-offset-2" formControlName="fdr"
               id="fdrSelect" matInput type="number">
        <mat-error>Please provide a number between 0 and 0.5</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Minimal expression value</mat-label>
        <input [placeholder]="minExprDefault.toString()" class="col-xs-4 col-xs-offset-2" formControlName="minExpr"
               id="minExprSelect" matInput type="number">
        <mat-error>Please provide a number between 0 and 1.000</mat-error>
      </mat-form-field>

      <p></p>

      <h6>Further settings:</h6>
      <p></p>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Enrichment method</mat-label>
        <mat-select [(value)]="methodDefault" [placeholder]="methodDefault">
          <mat-option *ngFor="let method of methods" [value]="method">{{ method }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Minimum module size</mat-label>
        <input [placeholder]="minSizeDefault.toString()" class="col-xs-3" formControlName="minSize" id="minSizeSelect" matInput
               type="number">
        <mat-error>Please provide a number between 0 and 5.000</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Maximum module size</mat-label>
        <input [placeholder]="minSizeDefault.toString()" class="col-xs-3" formControlName="minSize" id="minSizeSelect" matInput
               type="number">
        <mat-error>Please provide a number between 0 and 5.000</mat-error>
      </mat-form-field>

      <mat-checkbox class="check-box"
                    color="primary">
        Apply log2 scaling factor to uploaded expression
      </mat-checkbox>

      <mat-checkbox class="check-box"
                    color="primary">
        Predict on subtype level (can lead to longer run times)
      </mat-checkbox>

    </div>
  </mat-card-content>
</mat-card>

<div class="run-button-div">
  <button (click)="predict()" [disabled]="runButtonDisabled()"
          class="run-button-predict"
          mat-raised-button>
    Predict!
  </button>
  <mat-progress-bar [mode]="progressBarMode"
                    [value]="progressBarValue"
                    class="predict-run-progress-bar">
  </mat-progress-bar>
</div>
