<mat-drawer-container style="min-height: 100%">
  <mat-drawer [opened]="true" mode="side">
    <app-predict-form></app-predict-form>
  </mat-drawer>
  <mat-drawer-content>

    @if (predictService.example_used()) {
    <div style="text-align: center; padding: 20px;">
      <p>Here you can see SpongEffects results for an
        <a href="https://exbio.wzw.tum.de/sponge-files/GSE123845_exp_tpm_matrix_processed.csv"
          download='GSE123845_exp_tpm_matrix_processed.csv'>example dataset</a>
        (<a href="https://www.ncbi.nlm.nih.gov/geo/query/acc.cgi?acc=GSE123845">GSE123845</a>).
        You can upload your own expression data on the left.
      </p>
    </div>
    }

    <div class="predict-results">
      <mat-tab-group (selectedTabChange)="onTabChange($event)">
        <!-- This was moved to Compute SpongEffects Scores -->
        <mat-tab label="Top ceRNA Centralities">
          <app-scatterplot [dataSource]="scatterplotDataSource()" [params]="scatterplotParams()"
            [refreshSignal$]="refreshSignal()"></app-scatterplot>
          <app-module-table [refreshSignal$]="refreshSignal()"></app-module-table>
          <app-module-heatmap [refreshSignal$]="refreshSignal()"></app-module-heatmap>
        </mat-tab>
        <mat-tab label="SpongEffects Score Distribution">
          <app-classification-plot [refreshSignal$]="refreshSignal()"></app-classification-plot>
        </mat-tab>
        <mat-tab label="Prediction Results">
          <app-prediction-results [refreshSignal$]="refreshSignal()"></app-prediction-results>
          <app-prediction-table [refreshSignal$]="refreshSignal()"></app-prediction-table>
        </mat-tab>
      </mat-tab-group>
    </div>

  </mat-drawer-content>
</mat-drawer-container>