<div class="main-content container-fluid container-stretch">
  <div class="row">
    <div class="col-md-auto">
      <div class="card" style="z-index: 10; width:500px;">
          <h3 class="card-header text-center" id="card-header">Comparison</h3>
          <div class="card-body" id="gsea_select_body" style="text-align:center; padding-top:25px; height:820px">
              <mat-form-field style="width: 350px;">
                  <mat-select [formControl]="DiseaseName1Controller" placeholder="Select Disease Name 1" (selectionChange)="SetName1($event.value)" #singleSelect>
                    <mat-option>
                      <ngx-mat-select-search [formControl]="DiseaseName1FilterController"></ngx-mat-select-search>
                    </mat-option>
                    <mat-option *ngFor="let value of disease_name_1_list" [value]="value">
                      {{value}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field style="width: 350px;">
                  <mat-select [formControl]="DiseaseSubtype1Controller" placeholder="Select Disease Subtype 1" (selectionChange)="SetSubtype1($event.value)" #singleSelect>
                    <mat-option>
                      <ngx-mat-select-search [formControl]="DiseaseSubtype1FilterController"></ngx-mat-select-search>
                    </mat-option>
                    <mat-option *ngFor="let value of disease_subtype_1_list" [value]="value">
                      {{value}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field style="width: 350px;">
                  <mat-select [formControl]="DiseaseCondition1Controller" placeholder="Select Disease Condition 1" (selectionChange)="SetCondition1($event.value)" #singleSelect>
                    <mat-option>
                      <ngx-mat-select-search [formControl]="DiseaseCondition1FilterController"></ngx-mat-select-search>
                    </mat-option>
                    <mat-option *ngFor="let value of disease_condition_1_list" [value]="value">
                      {{value}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field style="width: 350px;">
                  <mat-select [formControl]="DiseaseName2Controller" placeholder="Select Disease Name 2" (selectionChange)="SetName2($event.value)" #singleSelect>
                    <mat-option>
                      <ngx-mat-select-search [formControl]="DiseaseName2FilterController"></ngx-mat-select-search>
                    </mat-option>
                    <mat-option *ngFor="let value of disease_name_2_list" [value]="value">
                      {{value}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field style="width: 350px;">
                  <mat-select [formControl]="DiseaseSubtype2Controller" placeholder="Select Disease Subtype 2" (selectionChange)="SetSubtype2($event.value)" #singleSelect>
                    <mat-option>
                      <ngx-mat-select-search [formControl]="DiseaseSubtype2FilterController"></ngx-mat-select-search>
                    </mat-option>
                    <mat-option *ngFor="let value of disease_subtype_2_list" [value]="value">
                      {{value}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field style="width: 350px;">
                  <mat-select [formControl]="DiseaseCondition2Controller" placeholder="Select Disease Condition 2" (selectionChange)="SetCondition2($event.value)" #singleSelect>
                    <mat-option>
                      <ngx-mat-select-search [formControl]="DiseaseCondition2FilterController"></ngx-mat-select-search>
                    </mat-option>
                    <mat-option *ngFor="let value of disease_condition_2_list" [value]="value">
                      {{value}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field style="width: 350px;">
                  <mat-select [formControl]="GeneSetController" placeholder="Select Gene Set" (selectionChange)="SetGeneSet($event.value)" #singleSelect>
                    <mat-option>
                      <ngx-mat-select-search [formControl]="GeneSetController"></ngx-mat-select-search>
                    </mat-option>
                    <mat-option *ngFor="let value of gene_set_list" [value]="value">
                      {{value}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <div id="gene_set_filter" hidden>
                  <hr>
                  <div class="custom-slider" style="width: 350px; margin: auto">
                    <span style="float: left; color: grey; font-size: 10pt;">Filter Gene Sets by Size:</span>   
                    <ngx-slider (userChangeEnd)="GeneSetFilter()" [(value)]="minSetSize" [(highValue)]="maxSetSize" [options]="setSizeSliderOptions" style="margin-top: 20px;"></ngx-slider>
                  </div>
                  <mat-form-field style="width: 350px;">
                    <input matInput id="filter_genes" class="form-control" placeholder="Filter for sets with genes" name="filter_genes">
                  </mat-form-field>
  
                  <div id="filtered_gene_container" class="filtered-gene-pill" style="height: 150px;">
                  </div>
                </div>
     
          </div>
      </div>
    </div>
    <div class="col-md-auto">
      <div class="card" style="z-index: 10; width:1050px;">
          <h3 class="card-header text-center" id="card-header">GSEA Results</h3>
          <div class="card-body" id="gsea_load_body" style="height:820px">
            Loading gsea results...
          </div>
          <div class="card-body" id="gsea_no_results" style="height:820px" hidden>
            No results found
          </div>
          <div class="card-body" id="gsea_results_body" style="height:820px" hidden>
            <div id="gsea_results_header" class="row" style="display: block; text-align: center">
              <h3>{{disease_name_1}} {{disease_subtype_1}} - {{condition_1}} | {{disease_name_2}} {{disease_subtype_2}} - {{condition_2}}</h3>
              <br>
            </div>
              <div id="options" class="row" style="height: 40px;">
                  <div id="plot_selection" class="col" style="text-align: center;">
                      <div class="btn-group-container-sw btn-group-toggle" id="plot_type_container" style="position: relative;">
                          <div aria-labelledby="plot_type-label" class="btn-group btn-group-container-sw" data-toggle="buttons" role="group">
                              <div class="btn-group btn-group-toggle" role="group">
                                <button class="btn radiobtn btn-primary active" (click)="showBarPlot()">
                                  <input type="radio" autocomplete="off" name="plot_type" value="bar" checked="checked">
                                  <span>
                                    <i class="fa fa-bar-chart" role="presentation" aria-label="chart-bar icon"></i>
                                    Bar plot
                                  </span>
                                </button>
                              </div>
                              <div class="btn-group btn-group-toggle" role="group">
                                <button class="btn radiobtn btn-primary" (click)="showVulcanoPlot()">
                                  <input type="radio" autocomplete="off" name="plot_type" value="volcano">
                                  <span>
                                    🌋 Volcano plot
                                  </span>
                                </button>
                              </div>
                            </div>                            
                          </div>      
                  </div>
                  <div id="set_selection" class="col">

                      <mat-form-field style="margin-left: 50px;">
                        <mat-select [formControl]="TermController" placeholder="Select Term" (selectionChange)="termChange($event.value)" #singleSelect>
                          <mat-option>
                            <ngx-mat-select-search [formControl]="TermFilterController"></ngx-mat-select-search>
                          </mat-option>
                          <mat-option *ngFor="let set of filteredSets" [value]="set">
                            {{set}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                      <div style="float: right;">
                        CSV: 
                      <button type="button" class="btn btn-primary" style="margin-left:10px" (click)="gsea_download()">
                        <i class="fa fa-download" role="presentation" aria-label="download icon"></i>
                    </button> 
                    </div>                          
                    </div>
              </div>
              <br>
              <div id="gsea_res" class="row">
                  <div id='gsea_overview' class="col">
                    <div id='pie_chart_container' style="width: 100%; height: 650px;"></div>
                  </div>

                  <div id="gsea_set_results" class="col">
                      <div id="enrichment_plot_container" class="row">
                          <img src="data:image/jpeg;base64,{{img_src}}" width="450px">
                      </div>
                      <button type="button" class="btn btn-primary" style="width:400px; height:25px; margin-bottom: 10px; padding: 0" (click)="plot_download()">
                      Download Image
                      </button> 
                      <div id="gsea_table_container" class="row" width="450px" style="margin-top: 60px">
                          <div style="position: relative; overflow: auto; width: 450px;">
                              <table class="table" style="white-space: nowrap">
                                  <thead>
                                      <tr>
                                          <th scope="col">ES</th>
                                          <th scope="col">NES</th>
                                          <th scope="col">p-val</th>
                                          <th scope="col">FDR</th>
                                          <th scope="col">FWER</th>
                                          <th scope="col">Tag %</th>
                                          <th scope="col">Gene %</th>
                                      </tr>
                                  </thead>
                                  <tbody>
                                      <tr>
                                          <td>{{ gsea_res.es }}</td>
                                          <td>{{ gsea_res.nes }}</td>
                                          <td>{{ gsea_res.pvalue }}</td>
                                          <td>{{ gsea_res.fdr }}</td>
                                          <td>{{ gsea_res.fwerp }}</td>
                                          <td>{{ gsea_res.tag_percent }}</td>
                                          <td>{{ gsea_res.gene_percent }}</td>
                                      </tr>
                                  </tbody>
                                </table>
                          </div>
                          
                          <div style="position: relative; overflow: auto; width:450px">
                  
                              <table class="table" style="white-space: nowrap">
                                  <tbody>
                                      <tr>
                                          <th>Matched Genes</th>
                                          <th class="sorting" tabindex="0" rowspan="1" colspan="1" aria-label="Filter Genes"><input [formControl]="geneFilterController" type="text" placeholder="Filter" style="width: 50px !important;"></th>
                                          <td *ngFor="let gene of filteredGenesResults" [ngStyle]="{'color': gsea_res.lead_genes.includes(gene)? 'green' : 'black'}">{{ gene }}</td>
                                      </tr>
                                      <tr>
                                          <th>Diff. Expr LFC</th>
                                          <th class="sorting" tabindex="0" rowspan="1" colspan="1" aria-label="Filter LFC"><input  [formControl]="lfcFilterController" type="text" placeholder="Filter" style="width: 50px !important;"></th>
                                          <td *ngFor="let value of filtered_diff_expr_lfc">{{ value }}</td>
                                      </tr>
                                  </tbody>
                                </table>
                                
                          </div>
                          
                      </div>
                  </div>
              </div>
        </div>
      </div>
  </div>
</div>