<div class="container">
    <div class="row">
        <div class="col-3">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="v-pills-interactions-tab" data-toggle="pill" href="#v-pills-interactions" role="tab" aria-controls="v-pills-interactions" aria-selected="true" target="_self">Interactions</a> 
                <a class="nav-link" id="v-pills-cerna_interactions-tab" data-toggle="pill" href="#v-pills-cerna_interactions" role="tab" aria-controls="v-pills-cerna_interactions" aria-selected="false" target="_self">CeRNA Interactions</a>
                <a class="nav-link" id="v-pills-advanced_search-tab" data-toggle="pill" href="#v-pills-advanced_search" role="tab" aria-controls="v-pills-advanced_search" aria-selected="false">Advanced Search</a>
                <a class="nav-link" id="v-pills-downloads-tab" data-toggle="pill" href="#v-pills-downloads" role="tab" aria-controls="v-pills-downloads" aria-selected="false">Downloads</a>
                <a class="nav-link" id="v-pills-run_information-tab" data-toggle="pill" href="#v-pills-run_information" role="tab" aria-controls="v-pills-run_information" aria-selected="true" target="_self">Run Information</a>
            </div>
        </div>
        <div class="col-9">
            <div id='selected_disease'>Currently Selected Run: <span></span></div>
            <div class="tab-content" id="v-pills-tabContent">

                <!-- Interactions -->
                <div class="tab-pane fade show active" id="v-pills-interactions" role="tabpanel" aria-labelledby="v-pills-interactions-tab">
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active" id="nav-overview-tab" data-toggle="tab" href="#nav-overview" role="tab" aria-controls="nav-overview" aria-selected="true">Overview</a>
                            <a class="nav-item nav-link" id="nav-nodes-tab" data-toggle="tab" href="#nav-nodes" role="tab" aria-controls="nav-nodes" aria-selected="false">Nodes</a>
                            <a class="nav-item nav-link" id="nav-edges-tab" data-toggle="tab" href="#nav-edges" role="tab" aria-controls="nav-edges" aria-selected="false">Edges</a>
                            <a class="nav-item nav-link" id="nav-downloads-tab" data-toggle="tab" href="#nav-downloads" role="tab" aria-controls="nav-downloads" aria-selected="false">Downloads</a>
                        </div>
                    </nav>
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-overview" role="tabpanel" aria-labelledby="nav-overview-tab">
                            <div id='network-plot-container-parent'>
                                <div id='network-plot-container'></div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="nav-nodes" role="tabpanel" aria-labelledby="nav-nodes-tab">
                            <div id='interactions-nodes-table-container'></div>
                        </div>
                        <div class="tab-pane fade" id="nav-edges" role="tabpanel" aria-labelledby="nav-edges-tab">
                            <p>  
                                <button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#filter_edges" aria-expanded="false" aria-controls="collapseExample">
                                    Options
                                </button>
                            </p>
                            <div class="collapse" id='filter_edges'>
                                <div class="card card-body"> 
                                    <div>
                                        <p>Set filter for mscor</p>
                                        <span>Minimum: </span><input type="text" id="mscore_min" name="mscore_min">&nbsp;
                                        <span>Maximum: </span><input type="text" id="mscore_max" name="mscore_max">
                                    </div>
                                    <hr>
                                    <div>
                                        <p>Set filter for P-value</p>
                                        <span>Minimum: </span><input type="text" id="pvalue_min" name="pvalue_min">&nbsp;
                                        <span>Maximum: </span><input type="text" id="pvalue_max" name="pvalue_max">
                                    </div>
                                </div>
                            </div>
                            <div id='interactions-edges-table-container'></div>
                        </div>
                        <div class="tab-pane fade" id="nav-downloads" role="tabpanel" aria-labelledby="nav-downloads-tab">...</div>
                    </div>
                </div>

                <!-- CeRNA-Interactions -->
                <div class="tab-pane fade" id="v-pills-cerna_interactions" role="tabpanel" aria-labelledby="v-pills-cerna_interactions-tab">
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active" id="nav-overview-tab" data-toggle="tab" href="#nav-overview" role="tab" aria-controls="nav-overview" aria-selected="true">Overview</a>
                            <a class="nav-item nav-link" id="nav-data-tab" data-toggle="tab" href="#nav-data" role="tab" aria-controls="nav-data" aria-selected="false">Data</a>
                            <a class="nav-item nav-link" id="nav-downloads-tab" data-toggle="tab" href="#nav-downloads" role="tab" aria-controls="nav-downloads" aria-selected="false">Downloads</a>
                        </div>
                    </nav>
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-overview" role="tabpanel" aria-labelledby="nav-overview-tab">...</div>
                        <div class="tab-pane fade" id="nav-data" role="tabpanel" aria-labelledby="nav-data-tab">...</div>
                        <div class="tab-pane fade" id="nav-downloads" role="tabpanel" aria-labelledby="nav-downloads-tab">...</div>
                    </div>
                </div>

                <!-- Advanced Search -->
                <div class="tab-pane fade" id="v-pills-advanced_search" role="tabpanel" aria-labelledby="v-pills-advanced_search-tab">...</div>

                <!-- Downloads -->
                <div class="tab-pane fade" id="v-pills-downloads" role="tabpanel" aria-labelledby="v-pills-downloads-tab">...</div>
            
                <!-- Run Information -->
                <div class="tab-pane fade" id="v-pills-run_information" role="tabpanel" aria-labelledby="v-pills-run_information-tab">
                        <div>
                            <select class="selectpicker diseases" data-live-search="true"></select>
                            <a id="selector_diseases_link" href="" target="_blank"><button type="button" class="btn btn-primary">Link to Download</button></a>
                        </div>
                        <div>
                            <p>Select a value to sort by: </p>
                            <select class="selectpicker sorting-value" title="Select sorting value" data-live-search="true">
                                <option data-value="degree">Degree</option>
                                <option data-value="betweenness">Betweenness</option>
                                <option data-value="eigenvector">Eigenvector</option>
                              </select>
                        </div>
                        <div>
                            <p>Set a cutoff for betweenness (lower bound): </p>
                            <input type="text" class="form-control" id="input_cutoff_betweenness" value=0>
                        </div>
                        <div>
                            <p>Set a cutoff for degree (lower bound): </p>
                            <input type="text" class="form-control" id="input_cutoff_degree" value=0>
                        </div>
                        <div>
                            <p>Set a cutoff for eigenvector (lower bound): </p>
                            <input type="text" class="form-control" id="input_cutoff_eigenvector" value=0>
                        </div>
                        <div>
                            <p>Set a Limit for displayed data (the more the slower): </p>
                            <input type="text" class="form-control" id="input_limit" value=10> 
                        </div>
                        <div>
                            <button id="load_disease" type="button" class="btn btn-primary">Go</button>
                        </div>
                        <pre id="selector_disease_result">
                        </pre>
                    </div>
            </div>
        </div>
    </div>
</div>
