<!-- START SIDEBAR -->
<div id="content-wrapper"> 
<!--div class="container-fluid"> -->
    <div class="nav-side-menu">
        <div class="brand">
            Browse the Database
        </div>
       
            <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
      
            <div class="menu-list">
      
                <ul id="menu-content" class="menu-content collapse out">
                    
                   
                        <li data-toggle="collapse" data-target="#service" class="collapsed" id="v-pills-interactions-collapse" href="#v-pills-interactions">
                                <a class="nav-item nav-link active" id="v-pills-interactions-tab" data-toggle="pill" href="#v-pills-interactions" role="tab" aria-controls="v-pills-interactions" aria-selected="true" target="_self">
                                        <i class="fa fa-rocket fa-lg"> </i>Interactions <span class="arrow"></span> 
                                </a> 
                         
                            
                        </li>  

                                
                    <ul class="sub-menu collapse show" id="service">
                        <a class="nav-item nav-link active" id="nav-overview-tab" data-toggle="tab" href="#nav-overview" role="tab" aria-controls="nav-overview" aria-selected="true"><li>Network</li> </a>
                        <a class="nav-item nav-link" id="nav-nodes-tab" data-toggle="tab" href="#nav-nodes" role="tab" aria-controls="nav-nodes" aria-selected="false" > <li>Nodes</li> </a>
                        <a class="nav-item nav-link" id="nav-edges-tab" data-toggle="tab" href="#nav-edges" role="tab" aria-controls="nav-edges" aria-selected="false"> <li>Edges</li></a>
                    </ul>                         
        
                </ul>
                    
             </div>
             <li>
                    <a class="nav-item nav-link" id="v-pills-run_information-tab" role="tab" aria-controls="v-pills-run_information" aria-selected="true" target="_self">                      
                            <i class="fa fa-info-circle fa-lg"></i> Run Information & Settings
                    </a>  
             </li>
             <li style="position: sticky;">
                <!--Run information tab in sidenav-->
                    <div class="container-fluid" id="run-info">
                        <div class="tab-pane fade active show" id="v-pills-run_information" role="tabpanel" aria-labelledby="v-pills-run_information-tab">
                           
                            <table class="table-content">
                                <td id="table-text">
                                    <tr class="tr-text">
                                        <p>Select a value to sort by: </p>
                                        <!-- <p>Set a cutoff for betweenness (lower bound): </p> -->
                                        <p>Set a cutoff for degree (lower bound): </p>
                                        <!-- <p>Set a cutoff for eigenvector (lower bound): </p> -->
                                        <p>Set a Limit for displayed data</p>
                                        <p id="text">(the more the slower): </p>                          
                                    </tr>
                                </td>

                                <td id="table-input"> 
                                 <tr id="selectpicker-select">

                                        <select class="selectpicker sorting-value form-control form-control-sm" id="run-info-select" type="text" title="Select sorting value" data-live-search="true">
                                            <option data-value="">None</option>
                                            <option data-value="betweenness">Betweenness</option>
                                            <option data-value="degree">Degree</option>
                                            <option data-value="eigenvector">Eigenvector</option>
                                         </select>
                                
                                       <!--  <tr> -->
                                        <!-- <input type="text" class="form-control" id="input_cutoff_betweenness" value=0> -->
                                        <input type="text" class="form-control" id="input_cutoff_degree" value=0>
                                        <!-- <input type="text" class="form-control" id="input_cutoff_eigenvector" value=0> -->
                                        <input type="text" class="form-control" id="input_limit" value=10>
                                    </tr>
                                </td>
                             </table>
                           
                                
                            
        
                            <div class="buttons">

                                <button id="load_disease" type="button" class="btn btn-primary button-margin">Go</button>

                                <button class="btn btn-secondary" id="end-button" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                                        Data of visualized run 
                                </button>
                                <a id="selector_diseases_link"  href="" target="_blank">
                                        <button type="button" id="end-button" class="btn btn-secondary button-margin">Download original data <i class="fa fa-link"></i>
                                        </button>
                                </a>
                                <!--Displays the data of the currently shown run--> 
                                <!--TO-DO maybe add info what each entrie means-->
                                <div class="collapse" id="collapseExample">
                                    <div class="card card-body">
                                        <pre id="selector_disease_result"></pre>
                                    </div>
                                </div>
        
                            </div>
                            
                         </div>
                    </div>
                           
                        
            </li>
   <!--  </div> -->
</div>
<!-- END SIDEBAR -->

<!-- START MAIN-CONTENT -->
<div class="main-content container-fluid">
    <div class="row">
        <div class="col-md-3" id="padding-li">
            <div class="jumbotron-banner"></div>
        </div>
        <div class="banner-middle">
            <div class="shadow-lg" id="title-BG">
                    <div class="row">
                <div class="col-md-auto header">
                    <h1>Browse</h1>
                    <h3>Inspect different cancer datasets</h3>
                </div>
                <div class="col-md-auto select-field"><p>Cancer Type:</p>
                    <select class="diseases selectpicker custom-select auto-width form-control" data-live-search="true" id='disease_selectpicker'>
                        <option data-value="https://portal.gdc.cancer.gov/projects/TCGA-HNSC">Head and neck squamous cell carcinoma</option>
                        <option data-value="https://portal.gdc.cancer.gov/projects/TCGA-BRCA">Breast invasive carcinoma</option>
                        <option data-value="https://portal.gdc.cancer.gov/projects/TCGA-CCSK">Kidney clear cell carcinoma</option>
                        <option data-value="https://portal.gdc.cancer.gov/projects/TCGA-SARC">Sarcoma</option>
                        <option data-value="https://portal.gdc.cancer.gov/projects/TCGA-OV">Ovarian serous cystadenocarcinoma</option>
                        <option data-value="https://portal.gdc.cancer.gov/projects/TCGA-THYM">Thymoma</option>
                        <option data-value="https://portal.gdc.cancer.gov/projects/TCGA-LGG">Brain lower grade glioma</option>
                        <option data-value="https://portal.gdc.cancer.gov/projects/TCGA-PCPG">Pheochromocytoma &amp; paraganglioma</option>
                        <option data-value="https://portal.gdc.cancer.gov/projects/TCGA-LIHC">Liver hepatocellular carcinoma</option>
                        <option data-value="https://portal.gdc.cancer.gov/projects/TCGA-PAAD">Pancreatic adenocarcinoma</option>
                        <option data-value="None">Pancancer</option>
                        <option data-value="https://portal.gdc.cancer.gov/projects/TCGA-COAD">Colon adenocarcinoma</option>
                        <option data-value="https://portal.gdc.cancer.gov/projects/TCGA-KIRP">Kidney papillary cell carcinoma</option>
                        <option data-value="https://portal.gdc.cancer.gov/projects/TCGA-LUAD">Lung adenocarcinoma</option>
                        <option data-value="https://portal.gdc.cancer.gov/projects/TCGA-UCEC">Uterine corpus endometrioid carcinoma</option>
                        <option data-value="https://portal.gdc.cancer.gov/projects/TCGA-THCA">Thyroid carcinoma</option>
                        <option data-value="https://portal.gdc.cancer.gov/projects/TCGA-BLCA">Bladder urothelial carcinoma</option>
                        <option data-value="https://portal.gdc.cancer.gov/projects/TCGA-PRAD">Prostate adenocarcinoma</option>
                        <option data-value="https://portal.gdc.cancer.gov/projects/TCGA-TGCT">Testicular germ cell tumor</option>
                        <option data-value="https://portal.gdc.cancer.gov/projects/TCGA-STAD">Stomach adenocarcinoma</option>
                        <option data-value="https://portal.gdc.cancer.gov/projects/TCGA-LUSC">Lung squamous cell carcinoma</option>
                        <option data-value="https://portal.gdc.cancer.gov/projects/TCGA-ESCA">Esophageal carcinoma</option>
                        <option data-value="https://portal.gdc.cancer.gov/projects/TCGA-CESC">Cervical &amp; endocervical cancer</option>
                    </select> &nbsp; 
                        <!--<button class="btn btn-primary" id="selected_disease">Options</button>-->
                </div>
            </div>
            </div>
      
        </div>
        <div class="col-md-3" id="padding-re">
            <div class="jumbotron-banner-re"> 
                
        </div>
        
    </div>

    <!--Container with Network-->
    <div class="d-flex" id="network-container">       
        
        <div class="row">
            
       
            <div class="col-12">
                <div class="tab-content" id="v-pills-tabContent">

                    <!-- Interactions -->
                    <div class="tab-pane fade show active" id="v-pills-interactions" role="tabpanel" aria-labelledby="v-pills-interactions-tab">
                   
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="nav-overview" role="tabpanel" aria-labelledby="nav-overview-tab">
                                <div class="container-flex">
                                    <div class="row no-gutter">
                                        <div class="dynamic-width-network-col col" style="left: 20px;">
                                            <div id='network-plot-container-parent'>
                                                <div id='network-plot-container'></div>
                                            </div>
                                            
                                            <div class="row justify-content-md-center" style="left: 121px; position:relative;">
                                                    <div class="form-inline network-control" id="network-search">
                                                    </div>
                                                    <div class="network-control col">
                                                        <span class="dropdown">
                                                            <button class="btn btn-sm btn-secondary dropdown-toggle button-margin" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                Save as...
                                                            </button>
                                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                                <a class="dropdown-item" id="network_snapshot_png">png</a>
                                                                <a class="dropdown-item" id="network_snapshot_jpg">jpg</a>
                                                                <a class="dropdown-item" id="network_snapshot_svg">svg</a>
                                                            </div>
                                                        </span>
                                                        <button type="button" class="btn btn-sm btn-secondary button-margin" id="restart_camera">Reset camera</button>
                                                        <button type="button" class="btn btn-sm btn-secondary button-margin" id="toggle_layout">Force Atlas 2</button>
                                                        <button type="button" class="btn btn-sm btn-secondary button-margin" id="reset_graph">Reset Graph</button>
                                                    </div>
            
                                                </div>
                                        </div>
                                        <!-- SIDE TABLE-->
                                        <div class="col-md-4">
                                            <span class="hidden" id='node_data'></span>
                                            <span class="hidden" id='edge_data'></span>
                                            
                                           
                                            
                                            <div id="node_information"  class="hidden">
                                                    <div class="card card-cascade narrower" id="node-card">
                                                            
                                                        <div class="card-body text-center graph-information-title"> Node Information:</div>
                                                        <div id="node_information_content"></div>
                                                    </div>
                                             </div>      
                                             
                                             <div id="edge_information"  class="hidden">
                                                    <div class="card card-cascade narrower" id="node-card">
                                                            
                                                        <div class="card-body text-center graph-information-title"> Edge Information:</div>
                                                        <div id="edge_information_content"></div>
                                                    </div>
                                             </div>  
                                            
                                        </div>
                                    </div>
                                </div>

                               
                            </div>

                            <div class="tab-pane fade" id="nav-nodes" role="tabpanel" aria-labelledby="nav-nodes-tab">
                                    <div>  
                                        <button class='float-right btn btn-primary button-margin' id='export_selected_nodes'>
                                            Export to Network
                                        </button>
                                    </div>
                                    <!--Node Table-->
                                <div id='interactions-nodes-table-container'></div> 
                            </div>

                            <div class="tab-pane fade" id="nav-edges" role="tabpanel" aria-labelledby="nav-edges-tab">
                                <div>  
                                    <button class="btn btn-secondary button-margin" type="button" data-toggle="collapse" data-target="#filter_edges" aria-expanded="false" aria-controls="collapseExample">
                                        Options
                                    </button>
                                    <button class='float-right btn btn-primary button-margin' id='export_selected_edges'>
                                        Export to Network
                                    </button>
                                </div>
                                <div class="collapse" id='filter_edges'>
                                    <div class="card card-body"> 
                                        <div>
                                            <p>Set filter for mscor</p>
                                            <span>Minimum: </span><input type="text" id="mscore_min" name="mscore_min">&nbsp;
                                            <span>Maximum: </span><input type="text" id="mscore_max" name="mscore_max">
                                        </div>
                                        <hr>
                                        <div>
                                            <p>Set filter for P-value</p>
                                            <span>Minimum: </span><input type="text" id="pvalue_min" name="pvalue_min">&nbsp;
                                            <span>Maximum: </span><input type="text" id="pvalue_max" name="pvalue_max">
                                        </div>
                                        
                                    </div>
                                    
                                </div>
                            <div id='interactions-edges-table-container'></div> <!--<TO-DO>Musste ich ausklammern weils sonst nen fehler gab dadurch kann die edge tble nich angeeigt werden</TO-DO>--> 
                            </div>
                        </div>
                    </div>

                    <div id="expression_heatmap"></div>

                    <div class="row d-flex justify-content-center" id='KMP-plot-container-parent'>
                            <div class="text-center hidden" id="loading_spinner_KMP" >
                                    <div class="spinner-border text-primary" role="status">
                                        <span class="sr-only">Loading the KMPs...</span>
                                    </div>
                                </div>
                        <div class="row justify-content-center container-fluid hidden" id="plots">
                        </div> 
                    </div>
       
                    <!-- Run Information -->
                <div class="container-fluid">
                    <div class="tab-pane fade" id="v-pills-run_information" role="tabpanel" aria-labelledby="v-pills-run_information-tab">
                        <table>
                            <td>
                                <tr>
                                    <p>Select a value to sort by: </p>
                                    <!-- <p>Set a cutoff for betweenness (lower bound): </p> -->
                                    <p>Set a cutoff for degree (lower bound): </p>
                                    <!-- <p>Set a cutoff for eigenvector (lower bound): </p> -->
                                    <p>Set a Limit for displayed data (the more the slower): </p>
                                    
                                </tr>
                            </td>
                            <td>
                                <tr>
                                    <select class="selectpicker sorting-value" id="selectpicker_sorting_value" title="Select sorting value" data-live-search="true">
                                        <option data-value="degree">Degree</option>
                                        <option data-value="betweenness">Betweenness</option>
                                        <option data-value="eigenvector">Eigenvector</option>
                                    </select>
                                    <!-- <input type="text" class="form-control" id="input_cutoff_betweenness" value=0> -->
                                    <input type="text" class="form-control" id="input_cutoff_degree" value=0>
                                    <!-- <input type="text" class="form-control" id="input_cutoff_eigenvector" value=0> -->
                                    <input type="text" class="form-control" id="input_limit" value=10> 
                                </tr>
                            </td>
                        </table>
                        <div>
                            <button id="load_disease" type="button" class="btn btn-primary">Go</button>
                        </div>

                        <hr/>

                        <div class="buttons">
                            <button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                                    Show current run
                            </button>
                            <a id="selector_diseases_link" href="" target="_blank">
                                    <button type="button" class="btn btn-secondary">Download original data <i class="fa fa-link"></i>
                                    </button>
                            </a>
                            <div class="collapse" id="collapseExample">
                                <div class="card card-body">
                                    <pre id="selector_disease_result"></pre>
                                </div>
                            </div>

                        </div>
                        
                    </div>
                </div>

            </div>
            </div>
        </div>
    </div>
</div>
</div>