<nav class='navbar'>
    <!-- logo -->
    <div class='navbar-brand'>
        <a class='navbar-item' href="/home">
            <img src="../../../assets/img/logo.png" width="75%" height="75%">
        </a>
    </div>

    <!--Photo by NOAA on Unsplash   https://unsplash.com/photos/lwdFHIxv57w no credit required-->



    
    <!-- menu -->
    <div class='navbar-menu'>
        
        <div class='navbar-start'>
                <a class='navbar-item' href="/home">
                    <font color = #FFFFFF>Home</font>
                </a>
                <a class='navbar-item' href="/search">
                    <font color = #FFFFFF>Search</font>
                </a>
                <a class='navbar-item' href="/browse">
                    <font color = #FFFFFF>Browse</font>
                </a>
                <a class='navbar-item' href="/more">
                    <font color = #FFFFFF>More</font>
                </a>
        </div>
        
    </div>
</nav>