<nav class='navbar'>
    <!-- logo -->
    <div class='navbar-brand'>
        <a class='navbar-item' href="/home">
            <img src="../../../assets/img/logo.png" width="75%" height="75%">
        </a>
    </div>

    <!--Photo by NOAA on Unsplash   https://unsplash.com/photos/lwdFHIxv57w no credit required-->



    
    <!-- menu -->
    <div class='navbar-menu'>
        
        <div class='navbar-start'>
                <a class='navbar-item' href="/home">
                    <p>Home</p>
                </a>
                <a class='navbar-item' href="/browse">
                    <p>Browse</p>
                </a>
                <a class='navbar-item' href="/more">
                    <p>More</p>
                </a>
                <input class="form-control navbar-item" type="text" placeholder="Search" aria-label="Search">
        </div>
        
    </div>
</nav>