@import "../../../variables.less";

.navbar{
    //background: linear-gradient(to right, rgb(5, 40, 70), rgb(8, 83, 133));
    background: linear-gradient(to right,rgb(5, 40, 70),#004e92);
    height: @header-height;
    font-size: larger;

    .container{
        margin: 0;
    }
    .navbar-item{
        padding-right: 12px;
        display: inline-block;
        width: auto;
        text-decoration: none;

        p {
            color: white;
        }
    }
    .navbar-item:hover p{
        color: #04feff;
        text-decoration: none;
    }

    @media screen and (max-width: 1124px) {
        .container-fluid {
            display: flex;

            flex-wrap: wrap;

            align-items: center;

            justify-content: center;
        }

        .navbar-brand{
            display: none;
        }
    }
}
