<nav class='navbar'>
    <div class="container-fluid">

        <!-- logo -->
        <div class='navbar-brand'>
            <a class='navbar-item center' href="home">
                <img src="assets/img/Sponge-logo-new-darkened.png" width="15%" height="20%" style="position: relative; top: -10px;">
            </a>
        </div>
        
        <!-- menu -->
        <div class='navbar-menu'>
            <div class='navbar-start'>
                    <a class='navbar-item' href="tutorial">
                        <p>Tutorial</p>
                    </a>
                <a class='navbar-item' href="home">
                    <p>Home</p>
                </a>
                <a class='navbar-item' href="browse">
                    <p>Browse</p>
                </a>
                <a class='navbar-item' href="more">
                    <p>Info</p>
                </a>
                <a class='navbar-item' href="download">
                    <p>Download</p>
                </a>
            </div>
        </div>
    </div>
</nav>
  