<mat-drawer-container style="min-height: 800px">
  <mat-drawer [opened]="true" mode="side" style="padding: 10px">
    <app-form></app-form>
  </mat-drawer>
  <mat-drawer-content>
    <mat-tab-group>
      <mat-tab label="Network">
        Network
      </mat-tab>
      <mat-tab label="ceRNAs">
        <app-ce-rnas></app-ce-rnas>
      </mat-tab>
      <mat-tab label="Interactions">
        <app-interactions></app-interactions>
      </mat-tab>
    </mat-tab-group>
  </mat-drawer-content>
</mat-drawer-container>
