<div style="display: flex; align-items: center; gap: 4px;">
  <mat-form-field appearance="outline" style="flex: 1; margin-top: 10px">
    <mat-label>Disease</mat-label>
    @let diseaseNames = diseaseNames$();
    @let diseaseSampleCounts = diseaseSampleCounts$();
    <mat-select [(value)]="activeDisease$" [disabled]="diseaseNames.length < 2">
      @for (disease of diseaseNames; track disease; let index = $index) {
      <mat-option [value]="disease">{{ getDiseaseDisplayName(disease) }} ({{ diseaseSampleCounts.get(disease) }})</mat-option>
      @if (disease.toLowerCase() === 'pancancer' && index < diseaseNames.length - 1) {
      <mat-divider></mat-divider>
      }
      }
    </mat-select>
  </mat-form-field>
  <app-info type="icon">
    <p>Numbers in parentheses indicate the number of samples available for each disease/subtype.</p>
  </app-info>
</div>
<mat-form-field appearance="outline" class="full-width">
  <mat-label>Subtype</mat-label>
  @let possibleSubtypes = possibleSubtypes$();
  <mat-select [(value)]="activeSubtype" [disabled]="possibleSubtypes.length < 2">
    @for (dataset of possibleSubtypes; track dataset.dataset_ID) {
    <mat-option [value]="dataset">{{ getDiseaseDisplayName(dataset.disease_subtype || SUBTYPE_DEFAULT) }} ({{ dataset.sample_count
      }})</mat-option>
    }
  </mat-select>
</mat-form-field>