<mat-form-field appearance="outline" class="full-width" style="margin-top: 10px">
  <mat-label>Disease</mat-label>
  @let diseaseNames = diseaseNames$();
  @let diseaseSampleCounts = diseaseSampleCounts$();
  <mat-select [(value)]="activeDisease$" [disabled]="diseaseNames.length < 2">
    @for (disease of diseaseNames; track disease) {
    <mat-option [value]="disease">{{ capitalize(disease) }} ({{ diseaseSampleCounts.get(disease) }})</mat-option>
    }
  </mat-select>
</mat-form-field>
<mat-form-field appearance="outline" class="full-width">
  <mat-label>Subtype</mat-label>
  @let possibleSubtypes = possibleSubtypes$();
  <mat-select [(value)]="activeSubtype" [disabled]="possibleSubtypes.length < 2">
    @for (dataset of possibleSubtypes; track dataset.dataset_ID) {
    <mat-option [value]="dataset">{{ capitalize(dataset.disease_subtype || SUBTYPE_DEFAULT) }} ({{ dataset.sample_count
      }})</mat-option>
    }
  </mat-select>
</mat-form-field>
<div class="note">Numbers in parentheses indicate the number of samples available for each disease/subtype.</div>