<table [dataSource]="dataSource$()" class="mat-elevation-z8" mat-table matSort>
  <ng-container matColumnDef="gene_1">
    <th *matHeaderCellDef mat-header-cell mat-sort-header>Gene 1</th>
    <td *matCellDef="let interaction" mat-cell>{{ interaction.gene_1 }}</td>
  </ng-container>

  <ng-container matColumnDef="gene_2">
    <th *matHeaderCellDef mat-header-cell mat-sort-header>Gene 2</th>
    <td *matCellDef="let interaction" mat-cell>{{ interaction.gene_2 }}</td>
  </ng-container>

  <ng-container matColumnDef="correlation">
    <th *matHeaderCellDef mat-header-cell mat-sort-header>Correlation</th>
    <td *matCellDef="let interaction" mat-cell>{{ interaction.correlation }}</td>
  </ng-container>

  <ng-container matColumnDef="mscor">
    <th *matHeaderCellDef mat-header-cell mat-sort-header>MScor</th>
    <td *matCellDef="let interaction" mat-cell>{{ interaction.mscor }}</td>
  </ng-container>

  <ng-container matColumnDef="padj">
    <th *matHeaderCellDef mat-header-cell mat-sort-header>adj. p-Value</th>
    <td *matCellDef="let interaction" mat-cell>{{ interaction.padj }}</td>
  </ng-container>

  <tr *matHeaderRowDef="columns" mat-header-row></tr>
  <tr *matRowDef="let row; columns: columns;" mat-row></tr>
</table>
<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="10" aria-label="Select page of users"></mat-paginator>


