<table [dataSource]="dataSource$()" class="mat-elevation-z8" mat-table matSort xmlns="http://www.w3.org/1999/html">
  <ng-container matColumnDef="name_1">
    <th *matHeaderCellDef mat-header-cell mat-sort-header>{{ capitalize(level$()) || 'Node' }} 1</th>
    <td *matCellDef="let interaction" mat-cell>
      <button (click)="openDialog(interaction.obj1)" mat-button
              matTooltip="Show details about {{interaction.name_1}}" matTooltipPosition="right">
        {{ interaction.name_1 }}
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="name_2">
    <th *matHeaderCellDef mat-header-cell mat-sort-header>{{ capitalize(level$() || 'Node') }} 2</th>
    <td *matCellDef="let interaction" mat-cell>
      <button (click)="openDialog(interaction.obj2)" mat-button
              matTooltip="Show details about {{interaction.name_2}}" matTooltipPosition="right">
        {{ interaction.name_2 }}
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="mirna">
    <th *matHeaderCellDef mat-header-cell>miRNAs</th>
    <td *matCellDef="let interaction" mat-cell>
      <button (click)="openMiRNADialog(interaction.interaction)" mat-button
              matTooltip="Show supporting miRNAs" matTooltipPosition="right">
        Show miRNAs
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="correlation">
    <th *matHeaderCellDef mat-header-cell mat-sort-header>
      <app-info title="Correlation">
        <p [innerHTML]="infoService.correlationText"></p>
      </app-info>
    </th>
    <td *matCellDef="let interaction" mat-cell>{{ interaction.correlation }}</td>
  </ng-container>

  <ng-container matColumnDef="mscor">
    <th *matHeaderCellDef mat-header-cell mat-sort-header>
      <app-info title="mscor">
        <p [innerHTML]="infoService.mscorText"></p>
        <span #mscorEquation class="katex"></span>
      </app-info>
    </th>
    <td *matCellDef="let interaction" mat-cell>{{ interaction.mscor }}</td>
  </ng-container>

  <ng-container matColumnDef="padj">
    <th *matHeaderCellDef mat-header-cell mat-sort-header>
      <app-info title="Adj. p-value">
        <p [innerHTML]="infoService.pValText"></p>
      </app-info>
    </th>
    <td *matCellDef="let interaction" mat-cell>{{ interaction.padj }}</td>
  </ng-container>

  <tr *matHeaderRowDef="columns" mat-header-row></tr>
  <tr *matRowDef="let row; columns: columns;" mat-row></tr>
</table>
<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="10" aria-label="Select page of users"></mat-paginator>
