<form [formGroup]="formGroup">
  <mat-form-field appearance="outline" style="width: 90%">
    <mat-label>Disease</mat-label>
    <mat-select formControlName="disease">
      @for (disease of diseases(); track disease) {
        <mat-option [value]="disease">{{ capitalize(disease) }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  @if (subtypes(); as subtypes) {
    <mat-form-field appearance="outline" style="width: 90%">
      <mat-label>Subtype</mat-label>
      <mat-select formControlName="dataset">
        @for (dataset of subtypes; track dataset.dataset_ID) {
          <mat-option [value]="dataset">{{ capitalize(dataset.disease_subtype || 'unspecified') }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  }

  <div class="card-container">
    <mat-button-toggle-group formControlName="level">
      <mat-button-toggle value="gene">Genes</mat-button-toggle>
      <mat-button-toggle value="transcript">Transcripts</mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Nodes</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-form-field appearance="outline">
        <mat-label>Sort by</mat-label>
        <mat-select formControlName="geneSorting">
          @for (sorting of getKeys(geneSortings); track sorting) {
            <mat-option [value]="sorting">{{ sorting }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Max. genes</mat-label>
        <input formControlName="maxGenes" matInput max="100" min="0" step="1" type="number"/>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Min. degree</mat-label>
        <input formControlName="minDegree" matInput max="100" min="0" step="1" type="number"/>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Min. betweenness</mat-label>
        <input formControlName="minBetweenness" matInput max="1" min="0" step="0.05" type="number"/>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Min. eigenvector</mat-label>
        <input formControlName="minEigen" matInput max="1" min="0" step="0.05" type="number"/>
      </mat-form-field>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Interactions</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-form-field appearance="outline">
        <mat-label>Sort by</mat-label>
        <mat-select formControlName="interactionSorting">
          @for (sorting of getKeys(interactionSortings); track sorting) {
            <mat-option [value]="sorting">{{ sorting }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Max. interactions</mat-label>
        <input formControlName="maxInteractions" matInput max="1000" min="0" step="1" type="number"/>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Max. adj. p-value</mat-label>
        <input formControlName="maxPValue" matInput max="1" min="0" step="0.05" type="number"/>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Min. MScore</mat-label>
        <input formControlName="minMScore" matInput max="1" min="0" step="0.05" type="number"/>
      </mat-form-field>
    </mat-expansion-panel>
  </mat-accordion>
</form>
