.home{
    &-box{
        padding-top: 20px;
        padding-bottom: 20px;     
    }     
    &-content-container {
        height: 500px;
        position: relative;
        
    }
}

.background-image{
    background-image: url("../../../assets/img/BG2.jpg");

    /* Add the blur effect */
    filter: blur(8px);
    -webkit-filter: blur(8px);
    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    margin: 0;
    padding: 300px 0px 240px;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
}

.jumbotron{
    &.overlay{
        margin-bottom: 2rem;
        background-color: rgba(5, 20, 34, 0.6);
        border-radius: .3rem;
        align-content: center;
        position: relative;
        left: 0;
        right: 0;
        z-index: 10;
        
    }
}



