.home{
    &-box{
        padding-top: 20px;
        padding-bottom: 20px;     
    }     
    &-content-container {
        height: 100vh;
        position: relative;
        display: table;
    }
}

.table-cell{  
    display: table-cell;
    vertical-align: middle;
    .overlay{
        background-color: rgba(5, 20, 34, 0.6);
        text-align: center;
        position: relative;
        height: 100px;
        z-index: 10;
        padding: 0;
    }
}  

.background-image{
    background-image: url("../../../assets/img/BG2.jpg");

    /* Add the blur effect */
    //filter: blur(2px);
    //-webkit-filter: blur(8px);
    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
}




