
<section class="">
     <!--Background Pic-->
          
      

    <div class='home-body'> 
            
      <div class="background">

        <div class='container'>
            <div class='row jumbotron'>
                <div class='col-md-4 text-center home-box'>
                    <a href="/search">
                        <button type="button" class="btn btn-primary btn-block" >
                            <h2>Search</h2>
                        </button>
                    </a>
                </div>
                <div class='col-md-4 text-center home-box'>
                    <a href="/browse">
                        <button type="button" class="btn btn-primary btn-block"> 
                            <h2>Browse</h2>
                        </button>
                    </a>
                </div>
                <div class='col-md-4 text-center home-box'>
                    <a href="/more">
                        <button type="button" class="btn btn-primary btn-block">
                            <h2>More About SPONGE</h2>
                        </button>
                    </a>
                </div>
            </div>


        </div>
       
      </div>
     </div>

    

   
</section>
