<mat-drawer-container style="min-height: 800px">
  <mat-drawer [opened]="true" mode="side" style="padding: 10px">
    <form>
      <div style="display: flex; justify-content: center;">
        <mat-button-toggle-group [(value)]="level" name="modeToggle" style="margin-bottom: 15px;">
          <mat-button-toggle value="gene">Genes</mat-button-toggle>
          <mat-button-toggle value="transcript">Transcripts</mat-button-toggle>
        </mat-button-toggle-group>
      </div>
      @if (level() === 'gene') {
      <mat-form-field class="example-chip-list">

        <mat-label>Select genes</mat-label>
        <mat-chip-grid #chipGrid aria-label="Gene selection">
          @for (gene of activeGenes(); track $index) {
          <mat-chip-row (removed)="remove(gene)">
            {{ gene.gene_symbol }}
            <button matChipRemove [attr.aria-label]="'remove ' + gene">
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip-row>
          }
        </mat-chip-grid>
        <input #geneInput [(ngModel)]="currentInput" [matAutocomplete]="auto" [matChipInputFor]="chipGrid"
          name="currentGene" placeholder="Add gene..." />
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event); geneInput.value = ''"
          autoActiveFirstOption>
          @for (gene of possibleGenes.value(); track gene) {
          <mat-option [value]="gene">{{ gene.gene_symbol }} ({{ gene.ensg_number }})</mat-option>
          }
        </mat-autocomplete>
      </mat-form-field>
      } @else {
      <mat-form-field class="example-chip-list">

        <mat-label>Select transcripts</mat-label>
        <mat-chip-grid #transcriptChipGrid aria-label="Transcript selection">
          @for (transcript of activeTranscripts(); track $index) {
          <mat-chip-row (removed)="removeTranscript(transcript)">
            {{ transcript.enst_number }} ({{ transcript.gene.gene_symbol }})
            <button matChipRemove [attr.aria-label]="'remove ' + transcript.enst_number">
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip-row>
          }
        </mat-chip-grid>
        <input #transcriptInput [(ngModel)]="currentTranscriptInput" [matAutocomplete]="transcriptAuto"
          [matChipInputFor]="transcriptChipGrid" name="currentTranscript" placeholder="Add transcript..." />
        <mat-autocomplete #transcriptAuto="matAutocomplete"
          (optionSelected)="selectedTranscript($event); transcriptInput.value = ''" autoActiveFirstOption>
          @for (transcript of possibleTranscripts.value(); track transcript) {
          <mat-option [value]="transcript">{{ transcript.enst_number }} ({{ transcript.gene.gene_symbol }})</mat-option>
          }
        </mat-autocomplete>
      </mat-form-field>
      }
      <mat-checkbox [(ngModel)]="onlySignificant" name="onlySignificant">Show only significant results</mat-checkbox>
    </form>

  </mat-drawer>
  <mat-drawer-content>
    @if (this.results.isLoading()) {
    <div class="spinner-container">
      <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
    </div>
    }
    <div [hidden]="this.results.isLoading()">
      @if ((level() === 'gene' && activeGenes().length > 0) || (level() === 'transcript' && activeTranscripts().length >
      0)) {

      <mat-tab-group [(selectedIndex)]="tabChange">
        <mat-tab label="Sunburst chart">
          <app-sunburst [refresh]="tabChange()" [onlySignificant]="onlySignificant()"
            [results]="results.value()"></app-sunburst>
        </mat-tab>
        <mat-tab label="Table">
          <app-disease-selector [diseases$]="diseases$()" (selected)="activeDisease.set($event)"></app-disease-selector>
          @if (interactions$.isLoading()) {
          <div class="spinner-container">
            <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
          </div>
          } @else {
          @let interactions = interactions$.value() ?? [];
          @if (interactions.length > 0) {
          <app-interactions-table [interactions$]="interactions" [disease]="activeDisease()"></app-interactions-table>
          } @else {
          <p>No interactions found.</p>
          }
          }
        </mat-tab>
      </mat-tab-group>
      } @else {
      <div class="card-container">
        <p style="margin-top: 50px">
          Select {{ level() === 'gene' ? 'genes' : 'transcripts' }} to see in which disease-specific ceRNA networks the
          {{ level() === 'gene' ? 'gene' : 'transcript' }} was
          detected.
        </p>
      </div>
      }
    </div>
  </mat-drawer-content>
</mat-drawer-container>