<section >
 <div class="container" >
          <div class="jumbotron shadow" id="bigBox">
                
                <h1 class="display-4" id="headline">More about SPONGE</h1>
             <!--   <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p> -->
                <hr class="my-4">

                
                <div class="card shadow">
                        <h3 class="card-header" id="card-header">Find us on GitHub</h3>
                        <div class="card-body">
                          <img src="../../../assets/img/GitHub-Mark.png" width="15%" height="15%" style="float: right;" >
                          <h4 class="card-title">GitHub</h4>
                          
                          <p class="card-text">To get startet with SPONGE click the link below and follow the instructions in the read.me</p>
                          <a href="https://github.com/biomedbigdata/SPONGE" class="btn btn-primary" id="link-button">Bring me to GitHub!</a>
                          <div style="clear:both"></div>
                        </div>
                </div>
                
            <p> </p>

            <div class="card shadow">
                    <h3 class="card-header" id="card-header">Publications</h3>
                    <div class="card-body">
                     <img src="../../../assets/img/scrollicon.svg" width="10%" height="10%" style="float: right;" >
                      <h4 class="card-title">Where can I find the SPONGE Paper?</h4>
                      <p class="card-text">To learn more about the functions of SPONGE, read the Paper on ... .</p>
                      <a href="https://github.com/biomedbigdata/SPONGE" class="btn btn-primary" id="link-button">Show me the Paper</a>
                      <div style="clear:both"></div>
                    </div>
            </div>
            
        <p> </p>
            
              <div class="card shadow" id="contact">
                    <h3 class="card-header" id="card-header">Contact</h3>
                    <div class="card-body">
                      <img src="../../../assets/img/TUM-Logo.png" width="15%" height="15%" style="float: right;" >
                      <h4 class="card-title">The List Group @BaumbachLab TUM</h4>
                      <p class="card-text">If you want to know more about the people behind SPONGE, visit the Website of the ListLab.</p>
                      <a href="https://www.baumbachlab.net/list-lab" class="btn btn-primary" id="link-button">ListLab @TUM</a>
                      <div style="clear:both"></div>
                    </div>
              </div>
            
         </div>
         
</div>
</section> 
<!--Background color for the page ? #D5DCE6
https://publicdomainvectors.org/de/kostenlose-vektorgrafiken/Scroll-Symbol/52635.html schriftrolle
-->