<section >
 <div class="container" >
          <div class="jumbotron shadow-lg" id="bigBox">
                
                <h1 class="display-4" id="headline">More about SPONGE</h1>
             <!--   <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p> -->
                <hr class="my-4">

                <p> </p>
          
              <div class="card shadow">
                <h3 class="card-header" id="card-header">Bioconductor</h3>
                <div class="card-body">
                  <img src="assets/img/bioconductor_logo_rgb.jpg" width="15%" height="15%" style="float: right;" >
                  <h4 class="card-title">SPONGE on Bioconductor</h4>
                 <!-- <p class="card-text">If you want to know more about the people behind SPONGE, visit the Website of the ListLab.</p>-->
                  <a href="https://bioconductor.org/packages/release/bioc/html/SPONGE.html" target="_blank" class="btn btn-primary link-button" >Bring me to Bioconductor!</a>
                  <div style="clear:both"></div>
                </div>
          </div>
          
          <p> </p>


                <div class="card shadow">
                        <h3 class="card-header" id="card-header">Find us on GitHub</h3>
                        <div class="card-body">
                          <img src="assets/img/GitHub-Mark.png" width="15%" height="15%" style="float: right;" >
                          <h4 class="card-title">GitHub</h4>
                          
                          <p class="card-text">To get startet with SPONGE click the link below and follow the instructions in the read.me</p>
                          <p class="card-text">With help of the FTP Server you can download the full data of the disease sets.</p>
                          <a href="https://github.com/biomedbigdata/SPONGE" target="_blank" class="btn btn-primary" id="link-button-github">SPONGE </a>
                          <a href="https://github.com/biomedbigdata/SPONGE-web-R" target="_blank" class="btn btn-primary" id="link-button-github">SPONGE-web R</a>
                          <a href="https://github.com/biomedbigdata/spongeWebPy" target="_blank" class="btn btn-primary" id="link-button-github">SPONGE-web Py</a>
                          <div style="clear:both"></div>
                        </div>
                </div>
                
      
  <p> </p>

            <div class="card shadow">
                    <h3 class="card-header" id="card-header">Publications</h3>
                    <div class="card-body">
                     <img src="assets/img/scrollicon.svg" width="10%" height="10%" style="float: right;" >
                      <h4 class="card-title">Where can I find the SPONGE Paper?</h4>
                      <p class="card-text">To learn more about the functions of SPONGE, read the Paper on https://academic.oup.com/bioinformatics.</p>
                      <a href="https://academic.oup.com/bioinformatics/article/35/14/i596/5529172" target="_blank" class="btn btn-primary link-button">Show me the Paper</a>
                      <div style="clear:both"></div>
                    </div>
            </div>
        
        <p></p>
        
              <div class="card shadow" id="contact">
                    <h3 class="card-header" id="card-header">Contact</h3>
                    <div class="card-body">
                      <img src="assets/img/biomedbigdata_logo.png" width="30%" height="30%" style="float: right; position: relative; top: 50px;" >
                      <h4 class="card-title">The Big Data in BioMedicine group at the Chair of Experimental Bioinformatics</h4>
                      <p class="card-text">If you want to know more about the people behind SPONGE, visit the Website of<br> the Big Data in BioMedicine group.</p>
                      <a href="https://biomedical-big-data.de" target="_blank" class="btn btn-primary link-button">Big Data in BioMedicine</a>
                      <div style="clear:both"></div>
                    </div>
              </div>
        
         <p> </p>
      
      </div>    
</div>
</section> 
