#bigBox{
  margin: 1cm;
    
}

#link-button{
    background-color: #446291;
    border-color: #446291;
}

#card-header{
    color: white;
    background-color: #446291;
}
#headline{
    text-align:center;
}