<div #container style="height: 500px; width: 100%; border: 1px solid #ccc"></div>
<div class="card-container">
  <app-info title="What do I see?">
    <p>What you see is a subset of a large ceRNA network obtained by applying SPONGE to data from TCGA. The entire
      network is too large to visualize here. You can adjust the filter criteria using the controls on the left.</p>
    <h3>Shapes</h3>
    <table>
      <tr>
        <th>Circle</th>
        <td [innerHTML]="circleExplanation$()">
        </td>
      </tr>
      <tr>
        <th>Square</th>
        <td [innerHTML]="squareExplanation$()"></td>
      </tr>
    </table>
  </app-info>
  <mat-slide-toggle [(ngModel)]="physicsEnabled$">Physics</mat-slide-toggle>
  <button (click)="resetCamera()" mat-button>
    <mat-icon>home</mat-icon>
    Reset camera
  </button>
  <a [href]="gProfilerUrl$()" mat-flat-button matTooltip="Open g:Profiler for all visible nodes"
     target="_blank">Functional enrichment analysis using g:Profiler</a>
</div>
