<form [formGroup]="formGroup" style="margin: 5px">
  <mat-accordion>
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>Select expression file</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="full-width" style="display: flex">
        <mat-checkbox formControlName="useExampleExpression">Use example</mat-checkbox>
        @if (selectedExpressionFile$() | async; as selectedExpressionFile) {
          <span class="spacer"></span>
          <button (click)="showExpressionFile(selectedExpressionFile)" class="example-expression-button" mat-button>
            Show expression file
          </button>
        }
      </div>

      @if (!useExampleExpression$()) {
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Select or drop a file</mat-label>
          <ngx-mat-dropzone>
            <input type="file" fileInput mode="replace" [formControl]="fileCtrl" accept="text/csv"/>
            @if (fileCtrl.value; as value) {
              <mat-chip-row (removed)="fileCtrl.setValue(null)">
                <span class="file-name" matTooltip="{{ value.name }}">{{ value.name }}</span>
                <button matChipRemove>
                  <mat-icon>cancel</mat-icon>
                </button>
              </mat-chip-row>
            }
          </ngx-mat-dropzone>
        </mat-form-field>
      }
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Filtering thresholds</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-form-field appearance="outline" class="full-width" >
        <mat-label>mSCor</mat-label>
        <input formControlName="mscor" matInput type="number" min="0" max="1" step="0.10">
        <mat-error *ngIf="formGroup.get('mscor')?.hasError('min')">Please provide a number > {{ formGroup.get('mscor')?.errors?.['min']?.min }}</mat-error>
        <mat-error *ngIf="formGroup.get('mscor')?.hasError('max')">Please provide a number < {{ formGroup.get('mscor')?.errors?.['max']?.max }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>False discovery rate (FDR)</mat-label>
        <input formControlName="fdr" matInput type="number" min="0" max="1" step="0.10">
        <mat-error> *ngIf="formGroup.get('fdr')?.hasError('min')">Please provide a number > {{ formGroup.get('fdr')?.errors?.['min']?.min }}</mat-error>
        <mat-error> *ngIf="formGroup.get('fdr')?.hasError('max')">Please provide a number < {{ formGroup.get('fdr')?.errors?.['max']?.max }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width" min="0" step="1">
        <mat-label>Minimal expression value</mat-label>
        <input formControlName="minExpr" matInput type="number">
        <mat-error *ngIf="formGroup.get('minExpr')?.hasError('min')">Please provide a number > {{ formGroup.get('minExpr')?.errors?.['min']?.min }}</mat-error>
      </mat-form-field>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Further settings</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Enrichment method</mat-label>
        <mat-select formControlName="method">
          <mat-option *ngFor="let method of methods" [value]="method">{{ method }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Minimum module size</mat-label>
        <input formControlName="minSize" matInput type="number" min="0" step="1">
        <mat-error *ngIf="formGroup.get('minSize')?.hasError('min')">Please provide a number > {{ formGroup.get('minSize')?.errors?.['min']?.min }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Maximum module size</mat-label>
        <input formControlName="maxSize" matInput type="number" min="0" step="1">
        <mat-error *ngIf="formGroup.get('maxSize')?.hasError('min')">Please provide a number > {{ formGroup.get('maxSize')?.errors?.['min']?.min }}</mat-error>
      </mat-form-field>

      <mat-checkbox class="check-box" color="primary" formControlName="logScaling">
        Apply log2 scaling factor to uploaded expression
      </mat-checkbox>

      <mat-checkbox class="check-box" color="primary" formControlName="predictSubtypes">
        Predict on subtype level (can lead to longer run times)
      </mat-checkbox>
    </mat-expansion-panel>
  </mat-accordion>
  <div class="card-container">
    <button (click)="predict()" [disabled]="isLoading$() || !(selectedExpressionFile$() | async)" mat-flat-button>
      Predict!
    </button>
  </div>
</form>
