@let fullNames = BrowseService.getInteractionFullNames(interaction);
<h1 mat-dialog-title>{{ fullNames[0] }} - {{ fullNames[1] }}</h1>
<mat-dialog-content>
  @if (miRNAs$.isLoading()) {
    <div class="card-container">
      <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
    </div>
  }
  <table [dataSource]="tableData" [hidden]="miRNAs$.isLoading()" class="mat-elevation-z8" mat-table matSort>
    <ng-container matColumnDef="hs_nr">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>Name</th>
      <td *matCellDef="let entry" mat-cell>
        {{ entry.hs_nr }}
      </td>
    </ng-container>

    <ng-container matColumnDef="mir_ID">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>ID</th>
      <td *matCellDef="let entry" mat-cell>
        <a [href]="'https://mirbase.org/mature/' + entry.mir_ID" mat-flat-button matTooltip="Open in miRBase"
           matTooltipPosition="right" target="_blank">{{ entry.mir_ID }}</a>
      </td>
    </ng-container>

    <ng-container matColumnDef="node1_coefficient">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>{{ fullNames[0] }} correlation</th>
      <td *matCellDef="let entry" mat-cell>{{ entry.node1_coefficient }}</td>
    </ng-container>

    <ng-container matColumnDef="node2_coefficient">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>{{ fullNames[1] }} correlation</th>
      <td *matCellDef="let entry" mat-cell>{{ entry.node2_coefficient }}</td>
    </ng-container>

    <tr *matHeaderRowDef="columns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: columns;" mat-row></tr>
  </table>
  <mat-paginator [hidden]="miRNAs$.isLoading()" [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="10"
                 aria-label="Select page of users"></mat-paginator>

</mat-dialog-content>
