<section >
  <div class="container" >
     <div class="jumbotron shadow-lg" id="bigBox">
        <h1 class="display-4" id="headline">Attribution for all pictures used</h1>
          <hr class="my-4">
          <p> </p>
          <div class="card shadow">
            <h3 class="card-header" id="card-header">Pictures</h3>
            <div class="card-body">
                <h4 class="card-title">Home Banner</h4>
              <img src="../../../assets/img//6969.jpg" width="15%" height="15%" style="float: right;" >
              <img src="../../../assets/img/browse-banner.png" width="15%" height="15%" style="float: right; margin-bottom: 20px;">
          
            
              <a href="https://www.freepik.com/free-photos-vectors/background">Background vector created by starline - www.freepik.com</a>
                 <div style="clear:both"></div>

               <!--  <a href="https://www.freepik.com/free-photos-vectors/background">Background vector created by starline - www.freepik.com</a> -->
               <img src="../../../assets/img/browse.jpg" width="15%" height="15%" style="float: right;">
               <a href="https://pixabay.com/de/illustrations/gesundheit-pflege-medizin-gesund-2082630/"> 
               <img src="../../../assets/img/search-image.jpg" width="15%" height="15%" style="float: right; margin-right: 5px;"> <!--überprüfen von wem-->
               </a>
               
               <a href="">Image by Gerd Altmann (right) from Pixabay</a>
               
               <div style="clear:both"></div>
              

            </div>
           </div>    
           &nbsp;

           <div class="card shadow">
            <h3 class="card-header" id="card-header">Logos</h3>
          
            <div class="card-body">
              <div class="container-fluid">
                <div class="row position">
                  <div class="col-md">
                      <a class="a-scroll" href="https://publicdomainvectors.org/de/kostenlose-vektorgrafiken/Scroll-Symbol/52635.html">
                        <img id="img-dim-scroll" src="../../../assets/img/scrollicon.svg">
                      <p></p>
                      <P id="logo-title">Scroll-Symbol License</P>
                        
                      </a>
                  </div>
                  <div class="col-md">
            <a class="a-bioconductor" href="https://www.bioconductor.org/about/logo/">
              <img id="img-dim" src="../../../assets/img/bioconductor_logo_rgb.jpg"> 
              <p></p>
              <P id="logo-title">Bioconductor License</P>
            </a>
            </div>
            <div class="col-md">
            <a class="a-github" href="https://github.com/logos">
               <img id="img-dim-github"  src="../../../assets/img/GitHub-Mark.png" > 
               <p></p>
               <P id="logo-title">GitHub License</P>
            </a>
                </div>
                <div class="col-md">
            <a class="a-tum" href="https://portal.mytum.de/require_login?came_from=https%3A//portal.mytum.de/corporatedesign/index_html/vorlagen/">
            <img id="img-dim" src="../../../assets/img/TUM-Logo.png" > 
            <p></p>
            <P id="logo-title-tum">TUM License</P>
                 
            </a>
                </div>
          </div>
        </div>
          <!--  <div style="clear:both"></div> -->
            </div>
           </div>    
     </div>                          
  </div>
</section> 
     