<section >
  <div class="container" >
     <div class="jumbotron shadow-lg" id="bigBox">
        <h1 class="display-3" id="headline">Copyright Information</h1>
          <hr class="my-4">
          <p> </p>
          <div class="card shadow">
            <h3 class="card-header" id="card-header">Pictures</h3>
            <div class="card-body">
              <h4 class="card-title text-color-heading"> <b>Home & Search Banner</b></h4>
              <img src="assets/img//6969.jpg" target="_blank" width="15%" height="15%" style="float: right;" >
              <img src="assets/img/browse-banner.png" target="_blank" width="15%" height="15%" style="float: right; margin-bottom: 20px;">
              <a href="https://www.freepik.com/free-vector/technology-face-concept-futuristic-artificial-intelligence-design_4481085.htm" target="_blank">
                <img src="assets/img/more-pic-oa.png" width="15%" height="15%" style="float: right; margin-right: 5px;">
               </a>
           
              <a href="https://www.freepik.com/free-vector/digital-technology-background-with-glowing-lines-mesh_3867111.htm" target="_blank">
              <img src="assets/img/search-title.png" width="15%" height="15%" style="float: right; margin-right: 5px;">
             </a>
              <a href="https://www.freepik.com/free-photos-vectors/background" target="_blank">Background vector created by starline - www.freepik.com</a>
                 <div style="clear:both"></div>

               <!--  <a href="https://www.freepik.com/free-photos-vectors/background">Background vector created by starline - www.freepik.com</a> -->
               <img src="assets/img/browse.jpg" width="15%" height="15%" style="float: right;">
              
               <a href="https://pixabay.com/de/illustrations/gesundheit-pflege-medizin-gesund-2082630/" target="_blank"> 
               <img src="assets/img/search-image.jpg" width="15%" height="15%" style="float: right; margin-right: 5px;"> 
               </a>
               
               <a href="">Image by Gerd Altmann (right) from Pixabay</a>
               
               <div style="clear:both"></div>

               <!--Neue zeile mit aip häschen-->
               <a href="https://de.freepik.com/vektoren-kostenlos/origami-farbband-sammlung_1230245.htm#page=1&query=sprechblas&position=9" target="_blank"> 
                <img src="assets/img/bubble.jpg" width="15%" height="15%" style="float: right; margin-right: 5px;"> 
                </a>

                <a href="https://de.freepik.com/vektoren-kostenlos/handgezeichnete-osterhasen-sammlung_3985175.htm#page=1&query=white%20rabbit&position=40" target="_blank"> 
                  <img src="assets/img/api_rabbit.png" width="15%" height="15%" style="float: right; margin-right: 5px;"> 
                  </a>
                
                <h4 class="card-title text-color-heading"><b>Tutorial Site</b></h4>
                <a href="http://www.freepik.com">Rabbit designed by Freepik</a>
                <br>
                <a href="https://de.freepik.com/fotos-vektoren-kostenlos/banner">Banner Vektor erstellt von saragnzalez - de.freepik.com</a>

                
                <div style="clear:both"></div>

                <h4 class="text-color-heading"><b> Banner</b></h4>
                <a href="https://media.giphy.com/media/R52934IAVt4jK/source.gif"> Cookies Pusheen The Cat GIF By Pusheen
                <img src="assets/img/cookieTransp.gif" width="15%" height="15%" style="float: right; margin-right: 5px;">

                </a>
                
              

            </div>
           </div>    
           &nbsp;

           <div class="card shadow">
            <h3 class="card-header" id="card-header">Logos</h3>
          
            <div class="card-body">
              <div class="container-fluid">
                <div class="row position">
                  <div class="col-md">
                      <a class="a-scroll" target="_blank" href="https://publicdomainvectors.org/de/kostenlose-vektorgrafiken/Scroll-Symbol/52635.html">
                        <img id="img-dim-scroll" src="assets/img/scrollicon.svg">
                      <p></p>
                      <P id="logo-title">Scroll-Symbol License</P>
                        
                      </a>
                  </div>
                  <div class="col-md">
            <a class="a-bioconductor" target="_blank" href="https://www.bioconductor.org/about/logo/">
              <img id="img-dim" src="assets/img/bioconductor_logo_rgb.jpg"> 
              <p></p>
              <P id="logo-title">Bioconductor License</P>
            </a>
            </div>
            <div class="col-md">
            <a class="a-github" target="_blank" href="https://github.com/logos">
               <img id="img-dim-github"  src="assets/img/GitHub-Mark.png" > 
               <p></p>
               <P id="logo-title">GitHub License</P>
            </a>
                </div>
                <div class="col-md">
            <a class="a-tum" target="_blank" href="https://portal.mytum.de/require_login?came_from=https%3A//portal.mytum.de/corporatedesign/index_html/vorlagen/">
            <img id="img-dim" src="assets/img/TUM-Logo.png" > 
            <p></p>
            <P id="logo-title-tum">TUM License</P>
                 
            </a>
                </div>
          </div>
        </div>
          <!--  <div style="clear:both"></div> -->
            </div>
           </div>    
     </div>                          
  </div>
</section> 
     