<mat-tab-group [(selectedIndex)]="activeTabIndex">
  <mat-tab [label]="'Selected ' + level$() + 's (' + nodes$().length + ')'">
    @if (nodes$().length > 0) {
    <div class="card-container">
      <p>
        Metrics are calculated based on the entire network, not the shown subset.
      </p>
    </div>
    }
    @if (nodes$().length > 1) {
    <div class="card-container">
      <a [href]="gProfilerUrl()" target="_blank" mat-flat-button
        matTooltip="Perform Functional Enrichment Analysis on selected {{level$()}}s">g:Profiler</a>
    </div>
    }

    <div class="card-container">
      @for (node of nodes$(); track node) {
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            <div style="display: flex; align-items: center; gap: 4px;">
              <button mat-button color="primary" style="padding: 0 4px; min-width: 0; text-align: left; font-size: 20px; font-weight: 500;"
                (click)="openModal(node)"
                [matTooltip]="'Show details for ' + BrowseService.getNodeGeneName(node)">
                {{ BrowseService.getNodeGeneName(node) }}
              </button>
              <app-add-to-cart-button [id]="BrowseService.getNodeID(node)" [symbol]="BrowseService.getNodeGeneName(node)"></app-add-to-cart-button>
              @if (node.betweenness === null || node.betweenness === undefined || node.node_degree === null || node.node_degree === undefined) {
                <app-info type="icon" title="Network Centrality Info">
                  This gene/node is not present in a significant network filtered with <code>mscor &gt; 0.2</code>, <code>abs(correlation) &gt; 0.1</code>, <code>p_value &lt; 0.2</code>.
                </app-info>
              }
            </div>
          </mat-card-title>
          <mat-card-subtitle style="padding-left: 4px;">{{ BrowseService.getNodeID(node) }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <table>
            <tr>
              <th>Betweenness</th>
              <td>{{ (node.betweenness !== null && node.betweenness !== undefined) ? node.betweenness : 'N/A' }}</td>
            </tr>
            <tr>
              <th>Eigenvector</th>
              <td>{{ (node.eigenvector !== null && node.eigenvector !== undefined) ? node.eigenvector : 'N/A' }}</td>
            </tr>
            <tr>
              <th>Degree</th>
              <td>{{ (node.node_degree !== null && node.node_degree !== undefined) ? node.node_degree : 'N/A' }}</td>
            </tr>
          </table>
        </mat-card-content>

      </mat-card>
      } @empty {
      <p>No selected {{ level$() }}s found.</p>
      <p>Click on a node in the network to select.</p>
      }
    </div>
  </mat-tab>
  <mat-tab [label]="'Selected ceRNA interactions (' + edges$().length + ')'">
    @if (edges$().length > 0) {
    <div class="card-container">
      <p>
        Metrics are calculated based on the entire network, not the shown subset.
      </p>
    </div>
    }
    <div class="card-container">
      @for (interaction of edges$(); track interaction) {
      <mat-card>
        <mat-card-header>
          @let names = BrowseService.getInteractionGeneNames(interaction);
          @let ids = BrowseService.getInteractionIDs(interaction);
          <mat-card-title style="display: flex; align-items: center; gap: 8px;">
            <span>{{ names[0] }} - {{ names[1] }}</span>
            @if (isVirtualEdge(interaction)) {
              <app-info type="icon" title="Virtual Star Edge Info">
                This edge is not present in a significant network filtered with <code>mscor &gt; 0.2</code>, <code>abs(correlation) &gt; 0.1</code>, <code>p_value &lt; 0.2</code> (i.e. <code>mscor &lt; 0.2</code>, <code>abs(correlation) &lt; 0.1</code>, <code>p_value &gt; 0.2</code>).
              </app-info>
            }
          </mat-card-title>
          <mat-card-subtitle>{{ ids[0] }} - {{ ids[1] }}
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <table>
            <tr>
              <th>Correlation</th>
              <td>{{ interaction.correlation }}</td>
            </tr>
            <tr>
              <th>mscor</th>
              <td>{{ interaction.mscor }}</td>
            </tr>
            <tr>
              <th>Adj. p-Value</th>
              <td>{{ interaction.p_value }}</td>
            </tr>
            <tr>
              <th>MiRNAs</th>
              <td>
                <button mat-button (click)="openInteractionModal(interaction)">View supporting miRNAs</button>
            </tr>
          </table>
        </mat-card-content>
        <mat-card-actions>
          @let fullNames = BrowseService.getInteractionFullNames(interaction);
          @let objs = BrowseService.getInteractionObjects(interaction);
          <button mat-button (click)="openModal(objs[0])">View {{ fullNames[0] }}
          </button>
          <button mat-button (click)="openModal(objs[1])">View {{ fullNames[1] }}
          </button>
        </mat-card-actions>
      </mat-card>
      } @empty {
      <p>No selected interactions found.</p>
      <p>Click on an edge in the network to select.</p>
      }
    </div>
  </mat-tab>
</mat-tab-group>