@import "../../../variables.less"; 

td {
  display: inline-block;
}

#network-plot-container-parent{
   min-width: 500px;
    height: 500px;
    position: relative;
    display: block;
    
    #network-plot-container{
        position: absolute;
        min-width: 500px;
        height: 500px;
        border: solid 1px black;
        
    }  
    
  
}