<section>
    <!--title banner-->
    <div class="jumbotron jumbotron-fluid title-bg">
        <div class="flex title-text">
          <h1>Search</h1>
          <h3>Search for a gene or miRNA</h3>  
        </div>
    </div>
    <div class="container-fluid container-stretch">
        <div class="row">
            <!-- start search information  -->
            <div class="col-md-auto">
                <div class="card" id="card-dim">
                    <h3 class="card-header text-center" id="card-header">Search Options</h3>
                    <div class="card-body">

                        <div id="options_gene" class="hidden col">
                            <!-- <p class="note"> You are currently searching for a gene</p> -->
                            <table> 
                                <td class="td-dim">
                                    <tr>
                                        <p class='ensg_number'>Enter ENSG-number or Gene-Symbol: </p>
                                    </tr>
                                </td>
                                <td>
                                    <tr>
                                        <input type="text" class="form-control ensg_number input-size autocomplete" id="gene_search_keys">
                                    </tr>
                                </td>
                            </table>
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="significant_results">
                                <label class="form-check-label italic" for="significant_results">Only significant results</label>
                            </div>
                            <div class="go-btn">
                                 <button class='btn btn-primary' id='options_gene_go'>Go</button>
                             </div>
                         </div>
                      <div id="options_mirna" class="hidden">
                            <!-- <p class="note">You are currently searching for miRNA</p> -->
                            <table>
                                <td class="td-dim"> 
                                    <tr>
                                        <p class='mimat_number'>Enter Mimat-Number or HS-Number: </p>
                                    </tr>
                                </td>
                                <td>
                                    <tr>
                                        <input type="text" class="form-control mimat_number input-size autocomplete" id="mirna_search_keys">
                                    </tr>
                                </td>
                            </table>
                            <div class="go-btn-miRNA">
                                 <button class='btn btn-primary' id='options_mirna_go'>Go</button>
                            </div>
                         </div>
                     </div>
                </div>
                <!-- Search Key Default Information -->
                <div class="card" id="card-dim">
                    <h3 class="card-header text-center" id="card-header">Search Gene Information</h3>
                    <div class="card-body">
                        <table class="table table-striped" id="search_key_information">
                            <thead>
                              <tr>
                                <th>ENSG-number</th>
                                <th>Gene-Symbol</th>
                              </tr>
                            </thead>
                            <tbody>

                            </tbody>
                          </table>
                    </div>
                </div>
             </div>
            <!-- End search information -->


            <div class="container-fluid col" >
                <div id='pie_chart_container'></div>
            </div>
        </div>

             <div class="row d-flex justify-content-center" id='KMP-plot-container-parent'>
                    <div class="text-center hidden" id="loading_spinner_KMP" >
                            <div class="spinner-border text-primary" role="status">
                                <span class="sr-only">Loading the KMPs...</span>
                            </div>
                        </div>
                 <div class="row justify-content-center container-fluid hidden" id="plots">
                 </div> 
             </div>

        <hr/>

        <div class="row" style="margin-bottom: 20px">
            <div class="col-md-12" id='search_results'>
                <div class="results text-center">
                        <h3> Results </h3>
                        <div id='key_information'></div>
                </div>
               
                <div id='disease_accordion'></div>
            </div>
        </div>
    </div>
    
   

</section>