@import "../../../variables.less"; 

td {
  display: inline-block;
}

#network-plot-container-parent{
   min-width: 500px;
    height: 500px;
    position: relative;
    display: block;
    
    #network-plot-container{
        position: absolute;
        min-width: 500px;
        height: 500px;
        border: solid 1px black;
        
    }  
    
  
}

#card-dim{
  position: relative;
  width: 600px;
  border-radius: 5px 20px 10px 10px;
  margin: 20px;
  height: auto;
}
#card-header{
  color: white;
  background-color: #024076;
  border-radius: 10px 10px 0px 0px;
}

#options_gene{
  left: 15px;
}

.select-field{
  float: right;
}

  
.cancer-type{
  position: relative;
  left:15px;
}

.td-dim{
  position: relative;
  margin-right: 25px;

}

.go-btn{
  float: right;
  right: 32px;
  top: 5px;
  position: relative;
}