<section>
    
    <div class="container">
        <div class="header text-center">
            <h1>Search</h1>
            <h3>Search for a gene or miRNA</h3>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3>Options</h3>
            </div>
        </div>

        <hr/>

        <div class="row">
            <div class="col-md-12" id='search_results'>
                <h3> Results </h3>
                <div class="text-center hidden" id="loading_spinner_results" >
                    <div class="spinner-border" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
                <div id='disease_accordion'></div>
            </div>
        </div>
    </div>

</section>