<section>
    
    <div class="container-fluid container-stretch">
        <div class="header text-center">
            <h1>Search</h1>
            <h3>Search for a gene or miRNA</h3>
        </div>

        <div class="row">
        <div class="card" id="card-dim">
         <h3 class="card-header text-center" id="card-header">Search Options</h3>
        <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <span class="cancer-type">Cancer Type:</span>&nbsp;
                <div class="col-md-auto select-field">
                    
                    <select class="selectpicker diseases" show-subtext="true" data-live-search="true">
                            <option data-value="https://portal.gdc.cancer.gov/projects/TCGA-HNSC">Head and neck squamous
                                cell carcinoma</option>
                            <option data-value="https://portal.gdc.cancer.gov/projects/TCGA-BRCA">Breast invasive carcinoma
                            </option>
                            <option data-value="https://portal.gdc.cancer.gov/projects/TCGA-CCSK">Kidney clear cell
                                carcinoma</option>
                            <option data-value="https://portal.gdc.cancer.gov/projects/TCGA-SARC">Sarcoma</option>
                            <option data-value="https://portal.gdc.cancer.gov/projects/TCGA-OV">Ovarian serous
                                cystadenocarcinoma</option>
                            <option data-value="https://portal.gdc.cancer.gov/projects/TCGA-THYM">Thymoma</option>
                            <option data-value="https://portal.gdc.cancer.gov/projects/TCGA-LGG">Brain lower grade glioma
                            </option>
                            <option data-value="https://portal.gdc.cancer.gov/projects/TCGA-PCPG">Pheochromocytoma &amp;
                                paraganglioma</option>
                            <option data-value="https://portal.gdc.cancer.gov/projects/TCGA-LIHC">Liver hepatocellular
                                carcinoma</option>
                            <option data-value="https://portal.gdc.cancer.gov/projects/TCGA-PAAD">Pancreatic adenocarcinoma
                            </option>
                            <option data-value="None">Pancancer</option>
                            <option data-value="https://portal.gdc.cancer.gov/projects/TCGA-COAD">Colon adenocarcinoma
                            </option>
                            <option data-value="https://portal.gdc.cancer.gov/projects/TCGA-KIRP">Kidney papillary cell
                                carcinoma</option>
                            <option data-value="https://portal.gdc.cancer.gov/projects/TCGA-LUAD">Lung adenocarcinoma
                            </option>
                            <option data-value="https://portal.gdc.cancer.gov/projects/TCGA-UCEC">Uterine corpus
                                endometrioid carcinoma</option>
                            <option data-value="https://portal.gdc.cancer.gov/projects/TCGA-THCA">Thyroid carcinoma</option>
                            <option data-value="https://portal.gdc.cancer.gov/projects/TCGA-BLCA">Bladder urothelial
                                carcinoma</option>
                            <option data-value="https://portal.gdc.cancer.gov/projects/TCGA-PRAD">Prostate adenocarcinoma
                            </option>
                            <option data-value="https://portal.gdc.cancer.gov/projects/TCGA-TGCT">Testicular germ cell tumor
                            </option>
                            <option data-value="https://portal.gdc.cancer.gov/projects/TCGA-STAD">Stomach adenocarcinoma
                            </option>
                            <option data-value="https://portal.gdc.cancer.gov/projects/TCGA-LUSC">Lung squamous cell
                                carcinoma</option>
                            <option data-value="https://portal.gdc.cancer.gov/projects/TCGA-ESCA">Esophageal carcinoma
                            </option>
                            <option data-value="https://portal.gdc.cancer.gov/projects/TCGA-CESC">Cervical &amp;
                                endocervical cancer</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row">
        <div id="options_gene" class="hidden col">
            <p> You are currently searching for a gene</p>
            <table> 
                <td class="td-dim">
                    <tr>
                        <p class='ensg_number'>Enter ENSG-number or Gene-Symbol: </p>
                        <p>Limit: </p>
                    </tr>
                </td>
                <td>
                    <tr>
                        <input type="text" class="form-control ensg_number" id="gene_search_keys">
                        <input type="text" class="form-control" id="gene_input_limit"> 
                    </tr>
                </td>
            </table>
            <button class='btn btn-primary' id='options_gene_go'>Go</button>
        </div>
        <div id="options_mirna" class="hidden">
            <p>You are currently searching for miRNA</p>
            <table>
                <td>
                    <tr>
                        <p class='mimat_number'>Enter Mimat-Number or HS-Number: </p>
                        <p>Limit: </p>
                    </tr>
                </td>
                <td>
                    <tr>
                        <input type="text" class="form-control mimat_number" id="mirn_search_keys">
                        <input type="text" class="form-control" id='mirna_input_limit'>
                    </tr>
                </td>
            </table>
            <div class="go-btn">
            <button class='btn btn-primary' id='options_mirna_go'>Go</button>
        </div>
        </div>
     </div>
    </div>
</div>
        <div class="container-fluid hidden col" id="network">
            <div class="row">
                <div class="col-md-8">
                    <div id='network-plot-container-parent'>
                        <div id='network-plot-container'></div>
                    </div>
                    <div class="form-inline mr-auto network-control" id="network-search">
                        <select id='network_search_node' class="form-control mr-sm-2"
                            data-live-search="true" show-subtext="true">
                        </select>
                        <button id='network_search_node_button'
                            class="btn btn-secondary button-margin">Search</button>
                        <div id='network_search_node_error' class='error-div hidden'></div>
                    </div>
                    <div class="network-control">
                        <span class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle button-margin" type="button"
                                id="dropdownMenuButton" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                Save as...
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" id="network_snapshot_png">.png</a>
                                <a class="dropdown-item" id="network_snapshot_jpg">.jpg</a>
                                <a class="dropdown-item" id="network_snapshot_svg">.svg</a>
                            </div>
                        </span>
                        <button type="button button-margin" class="btn btn-secondary button-margin"
                            id="restart_camera">Reset camera</button>
                        <button type="button button-margin" class="btn btn-secondary button-margin"
                            id="toggle_layout">toggle layout</button>
                        <button type="button button-margin" class="btn btn-secondary button-margin"
                            id="reset_graph">reset graph</button>
                    </div>
                    <div id='expression_heatmap'>
                    </div>
                </div>
                <div class="col-md-4">
                    <span class="hidden" id='node_data'></span>
                    <span class="hidden" id="edge_data"></span>
        
                    <div id="node_information" class="hidden">
                        <div>Node Information:</div>
                        <div id="node_information_content"></div>
                    </div>
        
                    <div id="edge_information" class="hidden">
                        <div>Edge Information:</div>
                        <div id="edge_information_content"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>

        <hr/>

        <div class="row">
            <div class="col-md-12" id='search_results'>
                <h3> Results </h3>
                <div class="text-center hidden" id="loading_spinner_results" >
                    <div class="spinner-border" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
                <div id='key_information'></div>
                <div id='disease_accordion'></div>
            </div>
        </div>
    </div>
    
   

</section>