<section >
 <div class="container" >
          <div class="jumbotron shadow-lg" id="bigBox">
                
                <h1 class="display-4" id="headline">What's possible on SPONGE Web - Tutorial & Explanations</h1>
             <!--   <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p> -->
                <hr class="my-4">

                <p> </p>
          
              <div class="card shadow">
                <h3 class="card-header" id="card-header">How to use the search on home</h3>
                <div class="card-body">
                  <img src="../../../assets/img/bioconductor_logo_rgb.jpg" width="15%" height="15%" style="float: right;" >
                  <h4 class="card-title">You can enter a gene symbol, ENSG number or miRNA to search in the SPONGE database for all interactions.</h4>
                 <!-- <p class="card-text">If you want to know more about the people behind SPONGE, visit the Website of the ListLab.</p>-->
                  <a href="https://bioconductor.org/packages/release/bioc/html/SPONGE.html" class="btn btn-primary" id="link-button">Bring me to Bioconductor!</a>
                  <div style="clear:both"></div>
                </div>
          </div>
          
          <p> </p>


                <div class="card shadow">
                        <h3 class="card-header" id="card-header">Documentation of the API</h3>
                        <div class="card-body">
                          <img src="../../../assets/img/GitHub-Mark.png" width="15%" height="15%" style="float: right;" >
                          <!--<h4 class="card-title"></h4> -->
                          
                          <p class="card-text">Here you can check out the documentation of the database and API.</p>
                          <a href="http://10.162.163.20:5000/ui/" class="btn btn-primary" id="link-button">Bring me to API documentation!</a>
                          <div style="clear:both"></div>
                        </div>
                </div>
                
            <p> </p>

            <div class="card shadow">
                    <h3 class="card-header" id="card-header">Publications</h3>
                    <div class="card-body">
                     <img src="../../../assets/img/scrollicon.svg" width="10%" height="10%" style="float: right;" >
                      
                    </div>
            </div>
            
        <p> </p>
            
              <div class="card shadow" id="contact">
                    <h3 class="card-header" id="card-header">Contact</h3>
                    <div class="card-body">
                      <img src="../../../assets/img/TUM-Logo.png" width="15%" height="15%" style="float: right;" >
                      <h4 class="card-title">The List Group @BaumbachLab TUM</h4>
                      <p class="card-text">If you want to know more about the people behind SPONGE, visit the Website of the ListLab.</p>
                      <a href="https://www.baumbachlab.net/list-lab" class="btn btn-primary" id="link-button">ListLab @TUM</a>
                      <div style="clear:both"></div>
                    </div>
              </div>
        
         </div>
    
         
</div>
</section> 
<!--Background color for the page ? #D5DCE6
https://publicdomainvectors.org/de/kostenlose-vektorgrafiken/Scroll-Symbol/52635.html schriftrolle
-->