<mat-drawer-container style="min-height: calc(100vh - 64px);">

  <mat-drawer [opened]="true" mode="side">

    <div style="margin: 5px;">
      <mat-accordion multi="true">
        <app-explore-form></app-explore-form>
        <app-module-form [source]="'explore'"></app-module-form>
        <app-network-filters [filters]="exploreService" [browseService]="browseService"
          [disease]="exploreService.selectedDisease$()"></app-network-filters>
      </mat-accordion>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <mat-tab-group preserveContent [selectedIndex]="selectedTabIndex()" (selectedTabChange)="onTabChange($event)">
      <mat-tab label="Reference Network ">
        @if (tabReady(0)) {
        <div class="network-container" style="display: flex; flex-direction: row; position: relative;">
          @if (isNetworkLoading()) {
          <div
            style="position: absolute; inset: 0; display: flex; align-items: center; justify-content: center; z-index: 1; background: rgba(255,255,255,0.6);">
            <mat-spinner mode="indeterminate" diameter="48"></mat-spinner>
          </div>
          }
          <app-network [browseService]="browseService" [refreshSignal]="refreshSignal()"
            style="min-width: 500px; flex-grow: 3;"></app-network>
          <app-active-entities [browseService]="browseService"
            style="min-width: 250px; width: 25%; flex-grow: 1"></app-active-entities>
        </div>
        }
      </mat-tab>
      <mat-tab label="Sample Similarity (UMAP)">
        @if (tabReady(1)) {
        <app-umap-plot mode="explore"></app-umap-plot>
        }
      </mat-tab>
      <mat-tab label="Top ceRNA Modules">
        @if (tabReady(2)) {
        <app-importance-plot [refreshSignal$]="refreshSignal()"></app-importance-plot>
        }
      </mat-tab>
      <mat-tab label="SpongEffects Score Distribution">
        @if (tabReady(3)) {
        <app-enrichment-class-plot [refreshSignal$]="refreshSignal()"></app-enrichment-class-plot>
        }
      </mat-tab>
      <mat-tab label="Benchmarking">
        @if (tabReady(4)) {
        <app-overall-acc-plot [refreshSignal$]="refreshSignal()"></app-overall-acc-plot>
        <hr>
        <app-class-performance-plot [refreshSignal$]="refreshSignal()"></app-class-performance-plot>
        }
      </mat-tab>
      <!-- This was moved to Top ceRNA modules tab -->
      <!-- <mat-tab label="Gene set enrichment analysis">
      <app-gsea-plot [refreshSignal$]="refreshSignal()"></app-gsea-plot>
      <app-info type="panel">
        <p>Gene Set Enrichment Analysis (GSEA) identifies whether specific sets of genes related to biological
          functions are enriched in gene expression data.</p>
        <p>The information from GSEA can help find biological differences between disease (sub-)types</p>
      </app-info>
      <div style="text-align: center;">
      </div>
    </mat-tab> -->
    </mat-tab-group>

  </mat-drawer-content>
</mat-drawer-container>