<mat-drawer-container style="min-height: 100%">
  <mat-drawer [opened]="true" mode="side">
    <app-explore-form></app-explore-form>
  </mat-drawer>
  <mat-drawer-content>
    <mat-tab-group (selectedTabChange)="onTabChange($event)">
      <mat-tab label="Model Performance">
        <app-overall-acc-plot [refreshSignal$]="refreshSignal()"></app-overall-acc-plot>
      </mat-tab>
      <mat-tab label="Class Performance">
        <app-class-performance-plot [refreshSignal$]="refreshSignal()"></app-class-performance-plot>
      </mat-tab>
      <mat-tab label="SpongEffects Score Distribution">
        <app-enrichment-class-plot [refreshSignal$]="refreshSignal()"></app-enrichment-class-plot>
      </mat-tab>
    </mat-tab-group>

  </mat-drawer-content>
</mat-drawer-container>