<section >
  <div class="container" >
    <div class="jumbotron shadow-lg" id="bigBox">
                 
      <h1 class="display-4" id="headline">SPONGE Downloads</h1>
      <!--   <p class="lead">This is a simple hero unit, a simple jumbotron-style 
        component for calling extra attention to featured content or information.</p> -->
      <hr class="my-4">
      <div class="card shadow">
        <h3 class="card-header" id="card-header">Download ceRNA interactions</h3>
        <div class="card-body">
          <p class="card-text">The competing endogenous RNA interactions shown in 
            this database have been computed using the  
          <a href="https://bioconductor.org/packages/release/bioc/html/SPONGE.html" target="_blank">SPONGE bioconductor R package</a> 
          with matched gene and miRNA expression data from The Cancer Genome Atlas as reprocessed by the 
          <a href="https://www.nature.com/articles/nbt.3772" target="_blank">TOIL project</a>. For robust results, 
          we considered cancer types with > 100 samples. For convenience, we offer SPONGE computed 
          interactions for each cancer type as bulk download:</p>
          <table class="table table-striped">
            <tbody id="dataset_download_table">

            </tbody>
          </table>

          <div style="clear:both"></div>
        </div>
      </div>
    </div>
  </div>
</section>
