/* You can add global styles to this file, and also import other style files */

// GENERAL
html{
    min-height: 100%;
    position: relative;
}

body{
    padding-top: 90px; // for navbar
    margin-bottom: -90px;
    padding-bottom: 0%;
    background-color: rgba(168, 189, 223, 0.247);
}

.fill {
    width: 100%;
    height: 100%;
}

section{
    padding-bottom: 250px;
}

