/* Define less variables for constants in layout*/

@browse-sidebar-width:  300px;
@browse-sidebar-height:  140%;

@header-height: 90px;

@footer-height: 230px;
@footer-color: aliceblue;
@footer-color-dark: #152433;