<table [dataSource]="dataSource" class="mat-elevation-z8" mat-table matSort>
  <ng-container matColumnDef="gene_symbol">
    <th *matHeaderCellDef mat-header-cell mat-sort-header>Gene</th>
    <td *matCellDef="let ceRNA" mat-cell>
      <button (click)="openDialog(ceRNA.gene)" mat-button matTooltip="Show details about {{ceRNA.gene_symbol}}">
        {{ ceRNA.gene_symbol }}
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="betweenness">
    <th *matHeaderCellDef mat-header-cell mat-sort-header>Betweenness</th>
    <td *matCellDef="let ceRNA" mat-cell>{{ ceRNA.betweenness }}</td>
  </ng-container>

  <ng-container matColumnDef="eigenvector">
    <th *matHeaderCellDef mat-header-cell mat-sort-header>Eigenvector</th>
    <td *matCellDef="let ceRNA" mat-cell>{{ ceRNA.eigenvector }}</td>
  </ng-container>

  <ng-container matColumnDef="node_degree">
    <th *matHeaderCellDef mat-header-cell mat-sort-header>Degree</th>
    <td *matCellDef="let ceRNA" mat-cell>{{ ceRNA.node_degree }}</td>
  </ng-container>

  <tr *matHeaderRowDef="columns" mat-header-row></tr>
  <tr *matRowDef="let row; columns: columns;" mat-row></tr>
</table>

<mat-paginator [pageSizeOptions]="[5, 10, 20]"
               [pageSize]="10"
               aria-label="Select page of periodic elements"
               showFirstLastButtons>
</mat-paginator>
