@let possibleLocalDiseases = possibleLocalDiseases$();
@if (possibleLocalDiseases.length > 0) {
  <div class="card-container">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          Reference disease
        </mat-card-title>
        <mat-card-subtitle>
          Can be altered using the controls on the left
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <app-disease-selector [diseases$]="[globalDisease$()!]"></app-disease-selector>
        <mat-button-toggle-group [(value)]="activeGlobalCondition$">
          @for (condition of possibleGlobalConditions$(); track condition) {
            <mat-button-toggle [value]="condition">{{ capitalize(condition) }}</mat-button-toggle>
          }
        </mat-button-toggle-group>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          Contrast disease
        </mat-card-title>
        <mat-card-subtitle>
          Not all diseases are available for comparison.
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <app-disease-selector (selected)="localDisease$.set($event)"
                              [diseases$]="possibleLocalDiseases"></app-disease-selector>
        <mat-button-toggle-group [(value)]="activeLocalCondition$">
          @for (condition of localConditions$() | keyvalue; track condition) {
            <mat-button-toggle [value]="condition.key" [disabled]="!condition.value">{{ capitalize(condition.key) }}
            </mat-button-toggle>
          }
        </mat-button-toggle-group>
      </mat-card-content>
    </mat-card>
  </div>
} @else {
  <div class="card-container">
    No comparisons found
  </div>
}
