@if (type() == 'modal') {
  <div class="card-container">
    <button mat-button (click)="openDialog()">
      <mat-icon>info</mat-icon>
      {{ title() }}
    </button>
  </div>
} @else {
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon>info</mat-icon>
        {{ title() }}
      </mat-panel-title>
      @if (subtitle(); as subtitle) {
        <mat-panel-description>
          {{ subtitle }}
        </mat-panel-description>
      }
    </mat-expansion-panel-header>
    <ng-container *ngTemplateOutlet="content"></ng-container>
  </mat-expansion-panel>
}

<ng-template #dialog>
  <h2 mat-dialog-title>{{ title() }}</h2>
  @if (subtitle(); as subtitle) {
    <h4>{{ subtitle }}</h4>
  }
  <mat-dialog-content>
    <ng-container *ngTemplateOutlet="content"></ng-container>
  </mat-dialog-content>
</ng-template>

<ng-template #content>
  <ng-content></ng-content>
</ng-template>
