
@if (type() == 'modal') {
  <div class="card-container" style="margin: 0px; padding: 0px;">
    <button mat-button (click)="openDialog()">
      <mat-icon style="margin-right: 5px; padding-right: 15px;">info</mat-icon>
      {{ title() }}
    </button>
  </div>
}
@if (type() == 'panel') {
  <mat-expansion-panel style="margin: 10px">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon style="margin-right: 5px">info</mat-icon>
        {{ title() }}
      </mat-panel-title>
      @if (subtitle(); as subtitle) {
        <mat-panel-description>
          {{ subtitle }}
        </mat-panel-description>
      }
    </mat-expansion-panel-header>
    <ng-container *ngTemplateOutlet="content"></ng-container>
  </mat-expansion-panel>
}
@if (type() == 'icon') {
  <button mat-icon-button (click)="openDialog()" style="margin-left: 10px;">
    <mat-icon style="width: 18px; height: 18px; font-size: 18px; color: #025cbb;">info</mat-icon>
  </button>
}


<ng-template #dialog>
  <h1 mat-dialog-title>{{ title() }}</h1>
  @if (subtitle(); as subtitle) {
    <h2 mat-dialog-title>{{ subtitle }}</h2>
  }
  <mat-dialog-content>
    <ng-container *ngTemplateOutlet="content"></ng-container>
  </mat-dialog-content>
</ng-template>

<ng-template #content>
  <ng-content></ng-content>
</ng-template>
